/* header */
.header {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0px;
  z-index: 999;
  background: #2e2e2e;
  color: #ffffff;
}

/* container */
.container {
  max-width: 1420px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* wave */
.wave {
  margin-top: 5px;
  margin-left: 25px;
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
}

/* control_panel */
.header_control_panel {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 600px;
}

/* profile */
.profile,
.bell,
.news,
.message,
.users,
.community,
.image,
.video,
.music {
  width: 40px;
  height: 40px;
}

/* menu */
.menu {
  margin-top: 10px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
}
