.wall__control-panel {
  margin-top: 1vh;

  .wall__control-panel__like-icon,
  .wall__control-panel__dislike-icon,
  .wall__control-panel__comment-icon {
    display: inline-block;
    position: relative;

    width: calc(8px + 20 * (100vw / 1920));
    height: calc(8px + 20 * (100vw / 1920));

    cursor: pointer;

    &:hover {
      @media (width > 460px) {
        color: red !important;
      }
    }

    &:active {
      transform: scale(0.8);
      transition: 0.1s;
    }
  }

  .wall__control-panel__comment-icon {
    &:hover {
      @media (width > 460px) {
        color: black !important;
      }
    }

    &:active {
      color: white;
    }
  }

  .wall__control-panel__like-number,
  .wall__control-panel__dislike-number {
    position: relative;

    margin: 0 calc(2px + 8 * (100vw / 1920));

    font: normal 400 calc(6px + 14 * (100vw / 1920)) 'Iceberg';
  }
}
