.wall__control-panel {
  .wall__control-panel__like-icon,
  .wall__control-panel__dislike-icon,
  .wall__control-panel__comment-icon,
  .wall__control-panel__share-icon {
    position: relative;

    padding: 1vh 0.5vw 1vh 0;

    width: calc(10px + 20 * (100vw / 1920));
    height: calc(10px + 20 * (100vw / 1920));

    cursor: pointer;

    @media (width < 460px) {
      padding: 0.5vh 0.5vw 1vh 0;
    }

    &:hover {
      @media (width > 460px) {
        color: red !important;
      }
    }

    &:active {
      transform: scale(0.8);
      transition: 0.1s;
    }
  }

  .wall__control-panel__comment-icon {
    &:hover {
      @media (width > 460px) {
        color: black !important;
      }
    }

    &:active {
      color: white;
    }
  }

  .wall__control-panel__like-number,
  .wall__control-panel__dislike-number {
    position: relative;

    margin-right: 1vw;

    top: -1vh;

    font: normal 400 calc(6px + 14 * (100vw / 1920)) 'Iceberg';
  }

  .wall__control-panel__share-icon {
    color: grey;
    cursor: auto;
  }
}
