.videos {
  position: relative;

  width: 380px;
  height: 397px;

  top:640px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;

  background: #393939;
  border-radius: 15px;
}

.videos_title {
  position: absolute;

  width: 222px;
  height: 30px;

  top: 8px;
  left: 22px;

  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}
