.change_avatar-button-skeleton {
  width: 100%;

  height: calc(10px + 30 * (100vw / 1920));
}

.change__avatar-button,
.change__avatar-button-delete {
  position: relative;
  width: 100%;

  height: calc(10px + 30 * (100vw / 1920));

  border: 0;
  border-radius: var(var(--interface-border-radius));

  background-color: black;
  box-shadow: 0 0 0.2vw rgb(255, 254, 254);

  text-transform: uppercase;
  font: normal 400 calc(2px + 16 * (100vw / 1920)) 'Iceberg';
  letter-spacing: calc(2px + 2 * (100vw / 1920));

  color: var(--text-color);

  @media (width < 460px) {
    height: calc(4px + 16 * (100vw / 460));

    font-size: calc(4px + 8 * (100vw / 1920));
    letter-spacing: calc(1px + 1 * (100vw / 1920));
  }
}

.change__avatar-button-delete {
  font: normal 400 calc(2px + 14 * (100vw / 1920)) 'Iceberg';
}
