.post__control-panel {
  display: flex;
  position: relative;

  margin-top: 0.5vh;

  height: calc(10px + 30 * (100vh / 1080));

  justify-content: space-between;

  .post__control-panel__icons-container {
    .post__control-panel__image-icon,
    .post__control-panel__video-icon,
    .post__control-panel__audio-icon,
    .post__control-panel__location-icon,
    .post__control-panel__file-icon {
      position: relative;

      margin: 1vh 2vw;

      width: calc(10px + 15 * (100vw / 1920));
      height: calc(10px + 15 * (100vw / 1920));

      color: var(--text-color);

      cursor: pointer;
      @media (width < 460px) {
        margin: 1vh 1vw;
      }
    }

    .post__control-panel__image-icon {
      cursor: auto;
      margin-left: 0;
    }

    .post__control-panel__audio-icon,
    .post__control-panel__location-icon,
    .post__control-panel__file-icon {
      color: grey;
      cursor: auto;
    }

    .post__control-panel__image-icon-input {
      position: absolute;

      width: calc(18px + 25 * (100vw / 1920));
      height: calc(16px + 26 * (100vw / 1920));

      left: calc(-2px - 7 * (100vw / 1920));

      opacity: 0;
    }

    .post__control-panel__input-iframe {
      position: relative;

      padding: 0 0.5vh;

      top: calc(-2px - 14 * (100vh / 1080));

      font: normal 400 calc(3px + 12 * (100vw / 1920)) 'Iceberg';

      opacity: 1;

      &::-webkit-input-placeholder {

        font-size:calc(3px + 10 * (100vw / 1920)) ;

        color: #000 !important;
        opacity: .7;
      }
    }

    .post__control-panel__iframe-delete {
      position: absolute;

      padding: 0;

      width: calc(15px + 35 * (100vw / 1920));
      height: calc(10px + 28 * (100vw / 1920));

      top: calc(2px + 4 * (100vh / 1080));
      left: calc(4px + 90 * (100vw / 1920));

      border: 0;

      font: normal 400 calc(2px + 12 * (100vw / 1920)) 'Iceberg';

      cursor: pointer;

      background-color: black;
      color: var(--text-color);

      @media (width < 460px) {
        top: calc(0px + 8 * (100vh / 1080));
        left: calc(5px + 68 * (100vw / 1920));

        font: normal 400 calc(2px + 16 * (100vw / 1920)) 'Iceberg';
      }
    }
  }

  .post__control-panel__make-button {
    width: 20%;
    height: calc(12px + 22 * (100vh / 1080));

    border: 0;
    border-radius: var(--borderRadius-interface);

    background-color: black;
    box-shadow: 0 0 0.2vw rgb(255, 254, 254);

    cursor: pointer;

    &:hover {
      background-position: right center;
    }

    &:active {
      transform: scale(0.9);
      transition: 0.2s;
    }

    .post__control-panel__make-button-icon {
      position: relative;
      font-size: calc(6px + 18 * (100vw / 1920));
      color: var(--text-color);
    }
  }
}
