.post__control-panel {
  display: flex;
  position: relative;

  margin-top: calc(2px + 24 * (100vh / 1080));

  height: calc(10px + 30 * (100vh / 1080));

  justify-content: space-between;

  .post__control-panel__icons-container {
    .post__control-panel__icons {
      display: inline-block;
      position: relative;

      margin-right: 1vw;
      width: calc(14px + 26 * (100vw / 1920));
      height: 100%;

      background-color: rgba(255, 255, 255, 0);
      border: 0;

      cursor: pointer;

      &:first-child {
        margin-right: calc(14px + 70 * (100vw / 1920));
      }

      &:hover .post__control-panel__image-hover {
        fill: var(--text-color-hover);
      }
    }

    .post__control-panel__input-iframe {
      position: absolute;

      margin: auto 0;

      padding: 0 0.5vh;

      width: calc(50px + 160 * (100vw / 1920));
      height: 80%;

      top: 0;
      bottom: 0;
      font: normal 400 calc(4px + 14 * (100vw / 1920)) 'Iceberg';

      &::-webkit-input-placeholder {
        font-size: calc(4px + 14 * (100vw / 1920));

        color: #000 !important;
      }
    }

    .post__control-panel__iframe-delete {
      position: absolute;

      width: calc(14px + 26 * (100vw / 1920));
      height: 100%;

      cursor: pointer;
    }
  }

  .post__control-panel__skeleton {
    width: 20vw;
    height: calc(12px + 22 * (100vh / 1080));
  }

  .post__control-panel__make-button {
    width: 20%;
    height: 100%;

    border: 0;
    border-radius: var(--borderRadius-interface);

    background-color: black;
    box-shadow: 0 0 0.2vw rgb(255, 254, 254);

    cursor: pointer;

    &:hover {
      background-position: right center;
    }

    &:active {
      transform: scale(0.9);
      transition: 0.2s;
    }

    .post__control-panel__make-button-icon {
      position: relative;
      margin: 0 auto;
      width: calc(14px + 26 * (100vw / 1920));
      height: 100%;
    }
  }
}
