/* subscriptions */
.groups {
  position: absolute;
  width: 380px;
  height: 397px;

  top: 900px;
}

/* subscriptions_backGround */
.groups_backGround {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #393939;
  border-radius: 25px;
}

/* subscriptions_title */
.groups_title {
  position: absolute;
  width: 198px;
  height: 30px;
  left: 22px;
  top: 5px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}
