.about__form {
  position: relative;
  height: 100%;

  top: 0.2vh;

  @media (width < 460px) {
    top: -4px;
  }

  @media (width < 460px) {
    .about__div {
      position: relative;
      height: calc(5.5px + 32 * (100vh / 1080));
    }
  }

  .about__form__input {
    position: relative;
    margin-top: 1vh;

    padding-left: 1vw;
    padding-right: 1vw;

    width: 60%;
    height: calc(5px + 20 * (100vh / 1080));

    font: normal 400 calc(6px + 16 * (100vw / 1920)) 'Iceberg';

    border: 0;

    background-color: var(--backgroundInput-color);
    color: var(--text-color);

    @media (width < 460px) {
      margin-bottom: 0vh;
      height: 70%;
      font-size: calc(4px + 14 * (100vw / 1920));
    }
  }

  .about__form-error {
    padding-left: 1vw;
    color: red !important;

    font: normal 400 calc(4px + 10 * (100vw / 1920)) 'Iceberg' !important;
  }

  .about__form-save-close {
    display: flex;
    justify-content: space-between;
    .about__form__buttton {
      position: relative;

      margin-top: 1.5vh;

      width: 48%;
      height: calc(4px + 20 * (100vh / 1080));

      bottom: 0;

      border: 0;
      border-radius: var(--interface-border-radius);

      background-color: black;
      box-shadow: 0 0 0.2vw rgb(255, 254, 254);

      text-transform: uppercase;
      font: normal 400 calc(6px + 10 * (100vw / 1920)) 'Iceberg';

      letter-spacing: 0.2vw;

      color: var(--text-color);

      cursor: pointer;
      z-index: 1;

      &:hover {
        background-position: right center;
      }

      &:active {
        transform: scale(0.9);
        transition: 0.2s;
      }
    }
  }
}
