.avatar {
  position: absolute;
  width: 380px;
  height: 470px;
  top: 80px;
}

/* avatar_backGround */

.avatar_backGround {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #393939;
  border-radius: 25px;
}

/* image */

.avatar_image {
  position: absolute;
  width: 328px;
  height: 375px;
  left: 26px;
  top: 18px;

  border-radius: 15px;
}

/* button */

.avatar_button {
  position: absolute;
  width: 328px;
  height: 51px;
  left: 26px;
  top: 407px;

  background: linear-gradient(88.95deg, #0a0404 -15.87%, #280404 80.66%);
  border-radius: 25px;
}

.avatar_input {
 opacity: 0;
  position: absolute;
  width: 328px !important;
  height: 51px !important;
  border-radius: 25px;
  cursor: pointer;

  z-index:3;
}

.input_parser {
  opacity: 0;
  width: 100%;
  height: 100%;
}

/* Ð¡hange photo */

.avatar_change {
  position: absolute;
  width: 118px;
  height: 28px;
  left: 105px;
  top: 15px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
z-index:0;
  color: #ffffff;
}
