    .chats-users__item__info {
      position: relative;

      margin-top: calc(-6px + 28 * (100vh / 1080));

      .chats-users__item__info-full-name {
        position: relative;

        white-space: nowrap;

        font: normal 400 calc(2px + 20 * (100vw / 1920)) / 1vh 'Iceberg';
        color: var(--text-color);
      }


      .chats-users__item__info__message {
        display: flex;
      }

      .chats-users__item__skeleton-name,
      .chats-users__item__info__message-name,
      .chats-users__item__info__message-last {
        margin-top: 0.5vh;
        font: normal 400 calc(2px + 14 * (100vw / 1920)) 'Iceberg';
        color: var(--text-color);
      }

      .chats-skeleton-name {
        width: calc(30px + 90 * (100vw / 1920));
        height: calc(2px + 14 * (100vh / 1080));
      }

      .chats-skeleton-message {
        width: calc(6px + 30 * (100vw / 1920));
        height: calc(2px + 12 * (100vh / 1080));
      }

      .chats-skeleton-last {
        width: calc(16px + 120 * (100vw / 1920));
        height: calc(2px + 12 * (100vh / 1080));
      }

      .chats-users__item__info__message-last {
        margin-right: 0.3vw;
        word-break: break-all;
      }

      .chats-users__item__info__message-name {
        position: relative;
        margin-right: 0.2vw;
      }
    }

    .chats-users__item__time {
      position: absolute;

      top: 0.3vh;
      right: 0.5vw;

      font: normal 400 calc(2px + 9 * (100vh / 1080)) 'Iceberg';
      color: var(--text-color);
    }
