.chats-container {
  position: relative;

  width: 35%;
  height: auto;
  color: var(--text-color);

  .chats-form__find-chat {
    .chats-form__search-icon {
      margin: 0 1vw;

      font-size: calc(4px + 25 * (100vh / 1080));

      color: var(--text-color);

      cursor: pointer;

      z-index: 2;

      @media (width < 460px) {
        font-size: calc(4px + 18 * (100vh / 1080));
      }
    }



    .chats-form__input {
      position: absolute;

      padding-left: calc(18px + 50 * (100vw / 1920));
      padding-right: 2vw;

      width: 100%;
      height: 100%;

      border-top-left-radius: var(--borderRadius-interface);
      border-top-right-radius: var(--borderRadius-interface);
      box-shadow: var(--box-shadow);

      font: normal 400 calc(2px + 22 * (100vh / 1080)) 'Iceberg';

      border: 0;

      background-color: var(--miniInterface-color);
      color: var(--text-color);

      @media (width < 460px) {
        font: normal 400 calc(2px + 14 * (100vh / 1080)) 'Iceberg';
      }
    }
  }

  .chats-skeletons-fix-bag {
    opacity: 0;
  }

  .chats-users {
    padding-top: 0.2vh;

    width: 100%;
    height: 78vh;

    box-shadow: var(--box-shadow);

    background-color: var(--interface-color);

    overflow: auto;
    overflow-x: hidden;

    .chats-users__item--selected {
      background-color: rgb(65, 65, 65);
    }

    .chats-users__item--selected,
    .chats-users__item {
      display: flex;
      position: relative;

      width: 100%;

      border-top: 0.2vh solid var(--miniInterface-color);
      cursor: pointer;

      &:hover {
        background-color: var(--interface-color-hover);
      }

      &:active {
        background-color: var(--interface-color-active);
      }

      .chats-users__item__avatar {
        margin: 1vh 0.5vh 0.8vh 1vh;

        width: calc(10px + 60 * (100vh / 1080));
        height: calc(10px + 60 * (100vh / 1080));

        border-radius: 50%;

        &:hover {
          border: var(--borderImages);
        }
      }
    }

    .chats-users__item__full-name-last-message {
      position: relative;

      margin-top: calc(-6px + 28 * (100vh / 1080));

      .chats-users__item__full-name-last-message__full-name {
        position: relative;

        white-space: nowrap;

        font: normal 400 calc(2px + 20 * (100vw / 1920)) / 1vh 'Iceberg';
        color: var(--text-color);
      }

      .chats-users__item__full-name-last-message__message {
        display: flex;
      }

      .chats-users__item__full-name-last-message__message__name,
      .chats-users__item__full-name-last-message__message_last-message {
        margin-top: 0.5vh;
        font: normal 400 calc(2px + 14 * (100vw / 1920)) 'Iceberg';
        color: var(--text-color);
      }

      .chats-users__item__full-name-last-message__message_last-message {
        margin-right: 0.3vw;
        word-break: break-all;
      }

      .chats-users__item__full-name-last-message__message__name {
        position: relative;
        margin-right: 0.2vw;
      }
    }

    .chats-users__item__time {
      position: absolute;

      top: 0.3vh;
      right: 0.5vw;

      font: normal 400 calc(2px + 9 * (100vh / 1080)) 'Iceberg';
      color: var(--text-color);
    }
  }

  .chats-footer {
    position: relative;
    margin-bottom: 2vh;

    padding-top: 1.3vh;

    width: 100%;
    height: calc(10px + 42 * (100vh / 1080));

    border-bottom-left-radius: var(--borderRadius-interface);
    border-bottom-right-radius: var(--borderRadius-interface);

    box-shadow: var(--box-shadow);

    text-align: center;
    font: normal 400 calc(10px + 10 * (100vw / 1080)) 'Iceberg';

    background-color: var(--miniInterface-color);
    color: var(--text-color);

    .chats-footer__link {
      text-decoration: underline;
    }
  }

  .chats-empty {
    position: relative;
    margin: 0 auto;

    width: calc(120px + 140 * (100vw / 1920));

    top: 30%;

    text-decoration: underline;
    text-align: center;

    font: normal 400 calc(20px + 20 * (100vw / 1920)) 'Iceberg';
    color: var(--text-color);

    @media (width < 460px) {
      width: auto;
      font-size: calc(6px + 10 * (100vw / 1920));
    }
  }
}
