.chats-container {
  position: relative;

  width: 35%;
  height: auto;
  color: var(--text-color);

  .chats-form__find-chat {
    .chats-form__search-icon {
      margin: 0 1vw;

      width: calc(4px + 25 * (100vh / 1080));

      stroke: var(--text-color);

      cursor: pointer;

      z-index: 1;
    }

    .chats-form__input {
      position: absolute;

      padding-left: calc(18px + 50 * (100vw / 1920));
      padding-right: 2vw;

      width: 100%;
      height: 100%;

      border-top-left-radius: var(--interface-border-radius);
      border-top-right-radius: var(--interface-border-radius);
      box-shadow: var(--box-shadow);

      font: normal 400 calc(2px + 22 * (100vh / 1080)) 'Iceberg';

      border: 0;

      background-color: rgba(245, 222, 179, 0);
      color: var(--text-color);

      @media (width < 460px) {
        font: normal 400 calc(2px + 14 * (100vh / 1080)) 'Iceberg';
      }
    }
  }

  .chats-skeletons-fix-bag {
    opacity: 0;
  }

  .chats-users {
    padding-top: 0.2vh;

    width: 100%;
    height: 78vh;

    box-shadow: var(--box-shadow);

    background-color: var(--interface-backgroundcolor);

    overflow: auto;
    overflow-x: hidden;

    .chats-users__item--selected {
      background-color: rgb(65, 65, 65);
    }

    .chats-users__item--selected,
    .chats-users__item {
      display: flex;
      position: relative;

      width: 100%;

      border-top: 0.2vh solid var(--miniInterface-color);
      cursor: pointer;

      &:hover {
        background-color: var(--interface-backgroundcolor-hover);
      }

      &:active {
        background-color: var(--interface-backgroundcolor-active);
      }

      .chats-users__item-avatar {
        margin: 1vh 0.5vh 0.8vh 1vh;

        width: calc(10px + 60 * (100vh / 1080));
        height: calc(10px + 60 * (100vh / 1080));

        object-fit: cover;
        border-radius: 50%;

        &:hover {
          border: var(--borderImages);
        }
      }
    }
  }

  .chats-footer {
    position: relative;
    margin-bottom: 2vh;

    width: 100%;
    height: calc(10px + 42 * (100vh / 1080));

    border-bottom-left-radius: var(--interface-border-radius);
    border-bottom-right-radius: var(--interface-border-radius);

    box-shadow: var(--box-shadow);

    text-align: center;
    font: normal 400 calc(10px + 10 * (100vw / 1080)) 'Iceberg';

    background-color: var(--miniInterface-backgroundcolor);
    color: var(--text-color);

    .chats-footer__link {
      position: absolute;
      margin: auto 0;

      height: 65%;

      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-decoration: underline;
    }
  }

  .chats-empty {
    position: absolute;
    margin: auto 0;

    width: 100%;
    height: 10%;

    top: 0;
    bottom: 0;

    text-decoration: underline;
    text-align: center;

    font: normal 400 calc(10px + 24 * (100vw / 1920)) 'Iceberg';
    color: var(--text-color);
  }
}
