.friends {
  display: flex;

  margin: 20px auto 0 auto;

  max-width: 1375px;
  height: 100%;

  font-family: 'Iceberg';
  font-style: normal;

  justify-content: space-between;
  flex-wrap: wrap;

  user-select: none;
  color: #ffffff;
}

.friends_result,
.control_panel {
  width: 678px;
  height: 100%;

  border-radius: 20px;

  background: #393939;
}

.friend {
  display: flex;
  position: relative;

  margin-left: 20px;
  margin-top: 10px;

  width: 640px;
  height: 120px;

  border-bottom: 2px solid black;
}

.friend_avatar {
  width: 110px;
  height: 110px;

  border-radius: 100%;
  cursor: pointer;
}

.friend_name {
  margin-top: 10px;
  margin-left: 10px;

  width: 230px;
  height: 20px;

  font-size: 17px;
  color: white;
}

.friend_message {
  position: relative;

  width: 100px;
  height: 20px;

  top: 35px;
  right: 230px;

  cursor: pointer;
}

.friend_menu {
  position: relative;

  float: left;
  left: 165px;
}

.number_friends {
  position: absolute;

  top: 100px;
  right: 140px;
}

.number_subscribers {
  position: absolute;

  top: 100px;
  right: 20px;
}

.zero_friends {
  display: flex;
  position: relative;

  margin-left: 20px;
  margin-top: 10px;

  width: 640px;
  height: 60px;

  font-size: 40px;
}

.friend_menu_icon {
  font-size: 26px !important;
  cursor: pointer;
}

.friend_content {
  display: none;
  position: absolute;

  padding-top: 20px;

  width: 120px;
  height: 80px;

  left: -85px;
}

.friend_menu:active .friend_content {
  display: block;
}

.friend_content:hover {
  display: block;
}

.friend_delete,
.friend_blackList {
  width: 110px;
  padding: 3px;

  font-size: 16px;

  background-color: rgb(0, 0, 0);
  color: white;
}

.friend_delete:hover,
.friend_blackList:hover {
  background-color: white;
  color: black;

  cursor: pointer;
}

.control_panel {
  display: block;
  position: sticky;

  top: 80px;
}

.all_people,
.all_friends,
.friend_requests,
.friend_sort {
  margin: 20px;

  width: 640px;
  height: 50px;

  font-size: 26px;

  cursor: pointer;
  z-index: 10 !important;
}

.all_people:hover,
.all_friends:hover,
.friend_requests:hover,
.friend_sort:hover {
  color: black;
}

.friend_sort_menu {
  position: relative;
}

.friend_sort_category {
  display: none;
  position: absolute;

  padding-top: 40px;

  width: 679px;
  height: 270px;
}

.friend_sort_menu:active .friend_sort_category {
  display: block;
}

.friend_sort_category:hover {
  display: block;
}

.A-Z_sort,
.Z-A_sort,
.friends_sort,
.subscribers_sort {
  padding: 20px 20px;

  font-size: 26px;
  background-color: #393939;
  cursor: pointer;
}

.subscribers_sort {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.A-Z_sort:hover,
.Z-A_sort:hover,
.friends_sort:hover,
.subscribers_sort:hover {
  color: black;
}
