.post_container {
  position: relative;
  width: 980px;
  height: 70px;
  left: 420px;
  top: 60px;
  background: #393939;
  border-radius: 25px;
  margin-bottom: 20px;
}

/* Container of contentn */
.post_images_size {
  height: 750px !important;
  background-color: #393939;
}

.post_text_size {
  height: 150px;
}

.post_imges_video_size {
  height: 1100px !important;
  background-color: #393939;
}

.post_video_size {
  height: 540px !important;
  background-color: #393939;
}

.post_avatar {
  position: absolute;
  width: 53px;
  height: 53px;
  left: 20px;
  top: 9px;
  border-radius: 100%;

  background: linear-gradient(180deg, #0a0404 0%, #300f0f 97.4%);
}

.post_text_input {
  position: absolute;
  width: 440px;
  height: 50px;
  left: 90px;
  top: 11px;
  border-radius: 15px;
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  padding-left: 10px;
  color: white;
  background-color: #393939;
}

.post_make_button {
  position: absolute;
  width: 40px;
  height: 50px;
  left: 535px;
  top: 11px;
  border: 0px solid white;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}

.post_make_icon {
  position: relative;
  font-size: 26px;
  left: 3px;
  color: white;
}

.post_show_text {
  position: absolute;
  font-family: 'Iceberg';
  font-style: normal;
  color: white;
  font-size: 24px;
  top: 80px;
  left: 40px;
  width: 900px;
  word-wrap: break-word;
  height: 62px;
}

.post_image_icon,
.post_video_icon,
.post_audio_icon,
.post_location_icon,
.post_file_icon {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  left: 675px;
  top: 15px;
  color: #ffffff;
}

.post_image_input {
  position: absolute;
  left: 663px;
  top: 15px;
  width: 60px;
  height: 40px;
  background-color: #0a0404;
  color: black;
  opacity: 0;
}

.post_max_image {
  position: absolute;
  left: 668px;
  top: 23px;
  width: 50px;
  height: 25px;
  user-select: none;
  font-size: 24px;
  font-weight: bolder;
  background-color: rgb(0, 0, 3);
  color: red;
}

.post_input_video {
  position: absolute;
  left: 735px;
  top: 55px;
  font-size: 18px;
  width: 220px;
  height: 20px;
  z-index: 10;
  opacity: 1;
}

.post_images_container {
  user-select: none;
  position: absolute;
  width: 900px;
  height: 550px;
  left: 40px;
  top: 150px;

  background-color: rgba(167, 165, 165, 0);
}

.post_image-0 {
  grid-area: largetop;
}

.post_image-1 {
  grid-area: smallRight;
}

.post_image-2 {
  grid-area: smallBottom;
}

.post_large_image {
  position: absolute;
  border: 3px solid rgb(255, 255, 255);
  left: 8px;
  width: 600px;
  height: 340px;
}

.post_small_right_image {
  position: absolute;
  right: 0px;
  border: 3px solid rgb(255, 255, 255);
  width: 300px;
  height: 550px;
}

.post_small_down_image {
  position: absolute;
  bottom: 0px;
  border: 3px solid rgb(255, 255, 255);
  width: 600px;
  height: 210px;
}

.one_image {
  width: 900px !important;
  height: 550px !important;
}

.two_image_first,
.two_image_second {
  width: 450px !important;
  height: 550px !important;
}

.post_iframe {
  position: absolute;
  top: 720px;
  left: 50px;
  width: 890px;
  height: 350px;
}

.post_iframe_small {
  position: absolute;
  left: 50px;
  top: 150px;
  width: 890px;
  height: 350px;
}

.video_delete {
  position: absolute;
  top: 15px;
  left: 730px;
  font-size: 14px;
  width: 54px;
  height: 40px;
  background-color: #0a0404;
  color: white;
}
