.post {
  position: relative;
  width: 980px;
  height: 70px;
  left: 420px;
  top: 60px;
  background: #393939;
  border-radius: 25px;
  margin-bottom: 20px;
}

.post_avatar {
  position: absolute;
  width: 53px;
  height: 53px;
  left: 20px;
  top: 9px;
  border-radius: 100%;

  background: linear-gradient(180deg, #0a0404 0%, #300f0f 97.4%);
}

.post_input {
  position: absolute;
  width: 440px;
  height: 50px;
  left: 90px;
  top: 11px;
  border-radius: 15px;
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  padding-left: 10px;
  color: white;
  background-color: #393939;
}

.post_button {
  position: absolute;
  width: 40px;
  height: 50px;
  left: 535px;
  top: 11px;
  border: 0px solid white;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}

.post_send {
  position: relative;
  font-size: 26px;
  left: 3px;
  color: white;
}

.post_image,
.post_video,
.post_audio,
.post_location,
.post_file {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  left: 675px;
  top: 15px;
  color: #ffffff;
}

.post_image_input {
  position: absolute;
  left: 675px;
  top: 15px;
  width: 40px;
  height: 40px;
  background-color: #0a0404;
  opacity: 0;
}

.post_photos {
  height: 750px !important;
  background-color: #393939;
}

.post_text {
  height: 150px;
}

.postText {
  position: absolute;
  font-family: 'Iceberg';
  font-style: normal;
  color: white;
  font-size: 24px;
  top: 80px;
  left: 40px;
  width: 900px;
  word-wrap: break-word;
  height: 62px;
}

.container3 {
  position: absolute;
  width: 900px;
  height: 550px;
  left: 40px;
  top: 150px;

  background-color: rgba(167, 165, 165, 0);

}

.photo-0 {
  grid-area: largetop;
}

.photo-1 {
  grid-area: smallRight;
}

.photo-2 {
  grid-area: smallBottom;
}

.large{
   position: absolute;
  border: 3px solid rgb(255, 255, 255);

  width: 600px;
  height: 340px;
}

.small-right {
   position: absolute;
   right: 0px;
  border: 3px solid rgb(255, 255, 255);
  width: 300px;
  height: 550px;
}

.small-down {
  position: absolute;
  bottom: 0px;
  border: 3px solid rgb(255, 255, 255);
  width: 600px;
  height: 210px;
}

.one_image {
  width: 900px !important;
  height: 550px !important;
}

.two_image_one,
.two_image_two {
  width: 450px !important;
  height: 550px !important;
}
