.about {
  position: relative;

  width: 980px;
  height: 350px;

  top: 20px;
  left: 420px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;

  background: #393939;
  color: #ffffff;

  border-radius: 15px;

  user-select: none;

  .about_fullName {
    position: absolute;
    height: 30px;
    left: 21px;
    top: 18px;

    font-weight: 600;
    font-size: 30px;
    line-height: 40px;

    letter-spacing: 2px;

    color: #ffffff;
  }

  .about_line {
    position: absolute;

    width: 942px;

    top: 70px;
    left: 19px;

    border-bottom: 10px solid #222222;
  }

  .about_info {
    position: absolute;

    padding-top: 90px;

    width: 940px;
    height: 250px;

    top: 90px;
    left: 20px;

    text-align: center;
    font-size: 30px;

    z-index: 1;
    color: #fe000000;

    &:hover {
      background-color: rgba(22, 22, 22, 0.56);
      color: rgb(255, 255, 255);
      cursor: pointer;
    }
  }

  .about_lives,
  .about_from,
  .about_born,
  .about_profession,
  .about_relationship,
  .about_student {
    position: relative;

    margin-bottom: 10px;

    width: 935px;
    height: 30px;

    top: 94px;
    left: 21px;

    font-size: 30px;
    line-height: 37px;
  }


}

.about_form {
  position: relative;

  top: 100px;
  left: 20px;
}

.about_input {
  margin-bottom: 10px;

  padding-left: 10px;

  width: 400px;
  height: 25px;

  font-size: 19px;
  border-radius: 15px;
}

.about_buttton {
  width: 400px;
  height: 30px;

  color: white;

  background-image: linear-gradient(to right, #000000 0%, #0164f8 51%, #000000 100%);
  background-size: 200% auto;
  border: 0;
  border-radius: 15px;

  transition: 0.5s;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;

  text-transform: uppercase;
  letter-spacing: 2px;

  cursor: pointer;
}

.about_buttton:hover {
  background-position: right center;
}

.about_buttton:active {
  transform: scale(0.9);
  transition: 0.2s;
}
