.header {
  position: sticky;

  width: 100%;
  height: 60px;

  top: 0px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;

  background: #2e2e2e;
  color: #ffffff;

  user-select: none;
  z-index: 999;
}

.wave {
  margin-top: 5px;

  font-size: 40px;
  line-height: 49px;
}

.header_control_panel {
  display: flex;

  margin-top: 10px;

  width: 600px;
  justify-content: space-between;
}

.profile,
.bell_icon,
.bell,
.news,
.message,
.users,
.community,
.image,
.video,
.music {
  width: 40px;
  height: 40px;
  text-decoration: none;
}

.news,
.community,
.image,
.video,
.music {
  color: grey
}

.profile:hover,
.bell_icon:hover,
.bell:hover,
.message:hover,
.users:hover {
  color: #9e9b9b;
  cursor: pointer;
}

.notifications_number {
  position: relative;

  padding-top: 3px;

  width: 25px;
  height: 25px;

  top: -40px;
  left: 20px;

  text-align: center;
  font-size: 14px;

  border-radius: 100%;
  background-color: red;
}

.notifications {
  display: none;
  position: relative;
  width: 60px;
  height: 110px;

  top: -80px;
  left: -10px;
}

.bell:active .notifications {
  display: block;
}

.notifications:hover {
  display: block;
}

.have_friend,
.dont_notе {
  position: absolute;

  padding-top: 5px;
  padding-left: 5px;

  width: 330px;
  height: 40px;

  top: 65px;
  font-size: 20px;

  border: 2px solid white;

  background-color: rgb(0, 0, 0);
  display: flex;
}

.note_show,
.note_hide {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.note_show:hover,
.note_hide:hover {
  color: #9e9b9b;
}

.dont_notе {
  top: 90px;
}

.menu {
  position: relative;
  margin-top: 10px;
}

.loader {
  position: absolute;

  width: 50px;
  height: 50px;

  top: -5px;
  right: 60px;

  border-top: 12px solid rgb(0, 149, 255);
  border-right: 12px solid rgb(4, 255, 4);
  border-bottom: 12px solid red;
  border-left: 12px solid rgb(255, 230, 0);
  border-radius: 50%;

  animation: spin .6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menu_burger {
  width: 40px;
  height: 40px;
  z-index: 999;
  cursor: pointer;
}

.menu:hover .menu_register_login {
  display: flex;
}

.menu:hover .loader {
  right: 230px;
}

.menu_register_login:hover {
  display: flex;
}

.menu_register_login {
  position: absolute;
  display: none;
  justify-content: space-between;

  width: 220px;
  height: 40px;

  top: 0px;
  right: 0px;

  background-color: white;
}

.menu_login,
.menu_register {
  width: 100%;
  padding-top: 5px;

  font-size: 26px;
  text-decoration: none;
  text-align: center;

  color: white;
  background-color: black;
}

.menu_login:hover,
.menu_register:hover {
  color: black;
  background-color: white;
}
