.header {
  position: sticky;

  width: 100%;
  height: calc(20px + 20 * (100vw / 1080));

  top: 0px;

  box-shadow: var(--box-shadow);

  background: var(--interface-color);
  color: var(--text-color);

  user-select: none;
  z-index: 999;

  .header__container {
    display: flex;

    margin: 0 auto;

    padding-left: 2vw;
    padding-right: 2vw;

    max-width: var(--max-width-container);
    height: 100%;

    justify-content: space-between;
    flex-wrap: wrap;

    @media (width < 1320px) {
      max-width: 100%;
      @media (width < 770px) {
        padding-left: 1vw;
        padding-right: 1vw;
      }
    }
  }

  .header__wave {
    position: relative;
    margin: auto 0;

    font: normal 400 calc(12px + 25 * (100vw / 1920)) 'Iceberg';
    color: var(--text-color);

    &:hover {
      color: var(--text-color-hover);
    }
  }

  .header__error {
    margin: auto 0;

    text-transform: uppercase;
    font: normal 400 calc(6px + 8 * (100vw / 460)) 'Iceberg';

    animation: header_error 1s linear infinite;
  }

  @keyframes header_error {
    50% {
      opacity: 0.3;
    }
  }
}
