.header {
  position: sticky;

  width: 100%;
  height: calc(20px + 20 * (100vw / 1080));

  top: 0px;

  box-shadow: var(--box-shadow);

  background: var(--interface-color);
  color: var(--text-color);

  user-select: none;
  z-index: 999;

  .header__container {
    display: flex;

    margin: 0 auto;

    padding-left: 2vw;
    padding-right: 2vw;

    max-width: 75vw;
    height: 100%;

    justify-content: space-between;
    flex-wrap: wrap;

    @media (width < 1320px) {
      max-width: 100%;
      @media (width < 770px) {
        padding-left: 1vw;
        padding-right: 1vw;
      }
    }
  }

  .header__wave {
    position: relative;
    margin: auto 0;

    font: normal 400 calc(12px + 25 * (100vw / 1920)) 'Iceberg';
    color: var(--text-color);

    &:hover {
      color: var(--text-color-hover);
    }
  }

  .header__error {
    margin: auto 0;

    text-transform: uppercase;
    font: normal 400 calc(6px + 8 * (100vw / 460)) 'Iceberg';

    animation: header_error 1s linear infinite;
  }

  @keyframes header_error {
    50% {
      opacity: 0.3;
    }
  }
}

.header__control-panel {
  display: flex;

  margin: auto 0;
  width: 65%;

  justify-content: space-between;

  .header__control-panel__icons {
    width: calc(15px + 20 * (100vw / 1920));
    height: calc(15px + 20 * (100vw / 1920));

    text-decoration: none;

    @media (width < 460px) {
      padding-top: 3px;
      width: calc(8px + 8 * (100vw / 460));
      height: calc(8px + 8 * (100vw / 460));
    }
  }

  .header__control-panel__icons:hover {
    color: var(--text-color-hover);
    cursor: pointer;
  }

  .header-closed-icon {
    color: var(--text-color-hover);
  }
}

.header__control-panel__profile-icon__bell-block,
.header__control-panel__icons {
  width: calc(15px + 20 * (100vw / 1920));
  height: calc(15px + 20 * (100vw / 1920));

  text-decoration: none;

  &:hover {
    color: var(--text-color-hover);
    cursor: pointer;
  }

  &:active .header__notifications {
    display: block;
  }

  @media (width < 460px) {
    width: calc(8px + 6 * (100vw / 460));
    height: calc(8px + 6 * (100vw / 460));
  }

  .header__notifications-number {
    position: relative;

    padding-top: 3vh;

    width: 25px;
    height: 25px;

    top: -40px;
    left: 20px;

    text-align: center;
    font: normal 400 14px 'Iceberg';

    border-radius: 100%;
    background-color: red;
  }
}

.header__notifications {
  display: none;
  position: relative;

  width: 60px;
  height: 110px;

  top: -80px;
  left: -10px;

  &:hover {
    display: block;
  }

  .header__notifications__friend-requests,
  .header__notifications__no-note {
    display: flex;
    position: absolute;

    padding-top: 5px;
    padding-left: 5px;

    width: 330px;
    height: 40px;

    top: 65px;

    border: 2px solid white;

    font: normal 400 20px 'Iceberg';

    color: white;

    background-color: rgb(0, 0, 0);
  }

  .header__notifications-show,
  .header__notifications-hide {
    text-decoration: none;
    color: #ffffff;

    &:hover {
      color: #9e9b9b;
    }
  }

  .header__notifications__no-note {
    top: 90px;
  }
}

.header__menu {
  position: relative;
  margin: auto 0;

  &:active .header__menu-burger__block {
    display: block;
  }

  .header__menu-loader {
    position: absolute;

    width: calc(20px + 25 * (100vw / 1920));
    height: calc(20px + 25 * (100vw / 1920));

    top: -0.3vh;
    right: calc(20px + 30 * (100vw / 1920));

    border: {
      top: 0.5vw solid rgb(0, 149, 255);
      right: 0.5vw solid rgb(253, 253, 253);
      bottom: 0.5vw solid rgb(253, 253, 253);
      left: 0.5vw solid rgb(255, 255, 255);

      radius: 100%;
    }

    animation: spin 0.9s linear infinite;

    @media (width < 460px) {
      width: calc(6px + 12 * (100vw / 460));
      height: calc(6px + 12 * (100vw / 460));

      top: calc(1px + 2 * (100vw / 460));
      right: calc(10px + 10 * (100vw / 460));

      border: {
        top: 0.6vw solid rgb(0, 149, 255);
        right: 0.6vw solid rgb(254, 255, 255);
        bottom: 0.6vw solid rgb(255, 255, 255);
        left: 0.6vw solid rgb(248, 248, 247);

        radius: 100%;
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .header__menu-burger {
    width: calc(20px + 20 * (100vw / 1920));
    height: calc(20px + 20 * (100vw / 1920));

    cursor: pointer;
    z-index: 999;

    @media (width < 460px) {
      padding-top: 3px;
      width: calc(8px + 10 * (100vw / 460));
      height: calc(8px + 10 * (100vw / 460));
    }
  }
}

.header__menu-burger__block {
  display: none;
  position: absolute;

  padding-top: calc(27px + 28 * (100vw / 1920));

  width: calc(100px + 200 * (100vw / 1920));
  height: calc(100px + 200 * (100vw / 1920));

  top: 0;
  right: 0;

  @media (width < 460px) {
    padding-top: calc(20px + 40 * (100vw / 1920));

    width: calc(50px + 50 * (100vw / 460));
    height: calc(50px + 50 * (100vw / 460));
  }

  &:hover {
    display: block;
  }
}

.header__menu-burger__block-login,
.header__menu-burger__block-register {
  position: relative;

  padding: 1vh 0 1vh 0;

  width: 100%;

  text-align: center;
  font: normal 400 calc(20px + 20 * (100vw / 1920)) 'Iceberg';

  border: 0.1vh solid var(--miniInterface-color-hover);

  background-color: var(--miniInterface-color);
  color: var(--miniInterface-color-hover);

  @media (width < 460px) {
    font: normal 400 calc(10px + 10 * (100vw / 460)) 'Iceberg';
  }

  &:hover {
    @media (width > 460px) {
      border: 0.2vh solid var(--miniInterface-color);
      background-color: var(--miniInterface-color-hover);
      color: var(--miniInterface-color);
    }
  }
}
