.avatar {
  position: relative;
  width: 100%;

  padding: calc(5px + 10 * (100vh / 1080)) calc(5px + 10 * (100vw / 1920));

  border-radius: var(--borderRadius-interface);
  box-shadow: var(--box-shadow);

  background-color: var(--interface-color);
  color: var(--text-color);

  @media (width < 460px) {
    padding: calc(2px + 2 * (100vh / 1080)) calc(2px + 2 * (100vw / 460));
  }

  .avatar__send-message-user-interaction {
    display: flex;
    justify-content: space-between;
  }

  .avatar_send-message-user-interaction__skeleton {
    padding: 0;
    width: 48%;
    height: calc(10px + 30 * (100vw / 1920)) !important;
  }

  .avatar_send-message-user-interaction___interaction,
  .avatar_send-message-user-interaction__send {
    padding: 0;
    width: 48%;

    height: calc(10px + 30 * (100vw / 1920));

    color: var(--text-color);

    border: 0;
    border-radius: var(--borderRadius-interface);

    background-color: black;
    box-shadow: 0 0 0.2vw rgb(255, 254, 254);

    text-transform: uppercase;
    text-decoration: none;
    font: normal 400 calc(2px + 14 * (100vw / 1920)) 'Iceberg';

    cursor: pointer;

    @media (width < 460px) {
      font-size: calc(2px + 12 * (100vw / 1920));
    }
  }

  .change__avatar-button:hover,
  .avatar_send-message-user-interaction___interaction:hover,
  .avatar_send-message-user-interaction__send:hover {
    background-position: right center;
  }

  .change__avatar-button:active,
  .avatar_send-message-user-interaction___interaction:active,
  .avatar_send-message-user-interaction__send:active {
    transform: scale(0.9);
    transition: 0.2s;
  }
}
