.friends {
  display: flex;

  margin: 20px auto 0 auto;
  padding: 0 20px 80px 20px;

  max-width: 1320px;
  height: 100%;

  font-family: 'Iceberg';
  font-style: normal;

  justify-content: space-between;
  flex-wrap: wrap;

  user-select: none;
  color: #ffffff;

  .friends_left_panel,
  .friends_right_panel {
    width: 63%;
    height: 100%;

    border-radius: 20px;

    background: #393939;
  }

  .friends_right_panel {
    width: 35%;
  }

  @media screen and (width < 770px) {
    padding: 0 10px 80px 10px;
  }
}

.friends_left_panel {
  .friends_user_block {
    display: flex;
    position: relative;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    width: 95%;
    height: 90px;

    border-bottom: 2px solid black;
  }

  .friends_user_avatar {
    width: 80px;
    height: 80px;

    border-radius: 100%;
    cursor: pointer;
  }

  .friends_user_fullname {
    margin-top: 10px;
    margin-left: 10px;

    width: auto;
    height: 20px;

    font-size: calc(8px + 10 * (100vw / 1280));
    color: white;
  }

  .friend_menu {
    position: absolute;

    float: left;
    left: 550px;
    top: 0px;

    &:active .friend_content {
      display: block;
    }

    .friend_content {
      display: none;
      position: absolute;

      padding-top: 20px;

      width: 120px;
      height: 80px;

      left: -85px;

      &:hover {
        display: block;
      }
    }

    .friend_delete {
      width: 110px;
      padding: 3px;

      font-size: 16px;

      background-color: rgb(0, 0, 0);
      color: white;
    }

    .friend_delete:hover {
      background-color: white;
      color: black;

      cursor: pointer;
    }

    .friend_menu_icon {
      font-size: 26px !important;
      cursor: pointer;
    }
  }

  .number_of_friends_subs {
    position: absolute;

    top: 65px;
    right: 5px;

    font-size: calc(8px + 8 * (100vw / 1320));

    span:first-child {
      margin-right: 10px !important;
    }
  }

  .zero_friends_subs {
    display: flex;
    position: relative;

    margin-left: 20px;
    margin-top: 10px;

    width: 640px;
    height: 60px;

    font-size: calc(20px + 10 * (100vw / 1280));
  }
}

.friends_right_panel {
  display: block;
  position: sticky;

  top: 60px;

  .all_people,
  .all_friends,
  .friend_subscribers,
  .friend_sort {
    margin: 20px 15px;

    font-size: calc(8px + 16 * (100vw / 1280));

    cursor: pointer;
    z-index: 10 !important;

    &:hover {
      color: black;
    }
  }
}

.friends_sort_menu {
  position: relative;

  &:active .friends_sort_category {
    display: block;
  }

  .friends_sort_category {
    display: block;
    position: absolute;

    padding-top: 37px;

    @media screen and (width < 1150px) {
      padding-top: 27.5px;
    }

    @media screen and (width < 830px) {
      padding-top: 20px;
    }

    width: 100%;
    height: 270px;

    &:hover {
      display: block;
    }

    .A-Z_sort,
    .Z-A_sort,
    .friends_sort,
    .subscribers_sort {
      padding: 12px 15px;

      font-size: calc(8px + 16 * (100vw / 1280));
      background-color: #393939;
      cursor: pointer;

      &:hover {
        color: black;
      }
    }

    .subscribers_sort {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}
