.wrapper_container {
  height: 836px;

  .wrapper_info {
    margin: 40px auto;
    padding: 10px;
    width: 1400px;

    font-size: 26px;
    font-family: 'Iceberg';
    font-style: normal;

    text-align: center;
    border-radius: 20px;

    color: white;
    background-color: #393939;

    user-select: none;
    .wrapper_link {
      color: rgb(43, 153, 226);
    }
  }
}
