.groups {
  position: absolute;

  width: 380px;
  height: 397px;

  top: 900px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;

  background: #393939;
  border-radius: 15px;
}


.groups_title {
  position: absolute;

  width: 198px;
  height: 30px;

  top: 5px;
  left: 22px;

  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}
