@media (width > 460px) and (height > 420px) {
  .profile__groups {
    position: relative;

    margin-bottom: 2vh;

    width: 100%;
    height: 20vh;

    border-radius: 2vh;
    box-shadow: var(--box-shadow);

    background: var(--interface-color);
    color: var(--text-color);

    .profile__groups__title {
      position: absolute;

      height: calc(10px + 20 * (100vw / 1080));
      left: calc(2px + 30 * (100vw / 1920));

      font: normal 400 calc(6px + 18 * (100vw / 1920)) / calc(15px + 25 * (100vw / 1920)) 'Iceberg';
    }
  }
}
