.wall__comments {
  position: relative;

  width: 100%;

  .wall__comments-input-submit {
    position: relative;
    margin: 1.5vh 0;

    height: calc(10px + 40 * (100vh / 1080));
  }

  .wall__comments__input {
    position: absolute;

    padding: 0.5vh 1vw;

    width: 84%;
    height: 100%;

    top: 0;
    left: 0;

    border: 0;
    font: normal 400 calc(5px + 15 * (100vw / 1920)) 'Iceberg';

    background-color: var(--backgroundInput-color);
    color: var(--text-color);

    resize: none;

    &::-webkit-scrollbar-track {
      opacity: 0 !important;
      background-color: #f5000000;
    }

    &::-webkit-scrollbar-thumb {
      height: 30px;

      border-top-right-radius: var(--borderRadius-interface);
      border-bottom-right-radius: var(--borderRadius-interface);
    }
  }

  .wall__comments__submit-skeleton {
    position: absolute;
    width: 14%;
    border-radius: var(--borderRadius-interface);
    top: 1vh;
    right: 0px;
  }

  .wall__comments__submit-button {
    position: absolute;
    width: 14%;
    height: 100%;

    right: 0;
    border: 0;
    border-radius: var(--borderRadius-interface);

    background-color: black;
    box-shadow: 0 0 0.2vw rgb(255, 254, 254);

    letter-spacing: calc(2px + 2 * (100vw / 1920));

    color: var(--text-color);

    cursor: pointer;

    &:hover {
      background-position: right center;
    }

    &:active {
      transform: scale(0.9);
      transition: 0.2s;
    }
  }

  .wall__comments__submit-button-icon {
    position: relative;
    margin: 0 auto;

    width: calc(10px + 30 * (100vw / 1920));

    stroke: var(--text-color);
  }

  .wall__comments__comment {
    position: relative;

    margin: 0 auto 1vh auto;

    padding: calc(2px + 5 * (100vh / 1080)) calc(4px + 8 * (100vw / 1920));

    width: 100%;

    border-radius: var(--borderRadius-interface);
    box-shadow: var(--box-shadow);

    background-color: rgb(14, 14, 14);
    color: var(--text-color);

    .wall__comments__comment__block {
      display: flex;
      justify-content: space-between;

      .wall__comments__comment__left-block {
        display: flex;
        position: relative;
        .wall__comments__comment-avatar {
          position: relative;

          margin-right: calc(4px + 4 * (100vw / 1920));

          width: calc(2px + 55 * (100vh / 1080));
          height: calc(2px + 55 * (100vh / 1080));

          object-fit: cover;
          border-radius: 100%;

          @media (width < 460px) {
            width: calc(14px + 14 * (100vh / 1080));
            height: calc(14px + 14 * (100vh / 1080));
          }

          &:hover {
            border: var(--borderImages);
            cursor: pointer;
          }
        }

        .wall__comments__comment-full-name-time {
          position: relative;

          .wall__comments__comment-full-name-time__full-name,
          .wall__comments__comment-full-name-time__time {
            position: absolute;

            margin: auto 0;

            width: 20vw;
            height: 70%;

            top: 0;
            bottom: 0;

            font: normal 400 calc(4px + 16 * (100vw / 1920)) 'Iceberg';
          }

          .wall__comments__comment-full-name-time__time {
            height: 0%;
            font: normal 400 calc(3px + 12 * (100vw / 1920)) 'Iceberg';
          }
        }
      }

      .wall__comments__comment__right-block {
        height: 0;
        .wall__comments__comment-delete {
          margin-top: calc(0px + 4 * (100vh / 1080));
          margin-right: calc(4px + 4 * (100vw / 1920));

          width: calc(8px + 22 * (100vw / 1920));

          stroke: var(--text-color);

          filter: drop-shadow(0px 0px 0.2vh rgb(5, 5, 5));
          cursor: pointer;

          z-index: 10;

          &:hover {
            color: var(--text-color-hover);
          }
        }
      }
    }
    .wall__comments__comment-text {
      padding: 0.5vh 0;

      overflow-wrap: break-word;
      font: normal 400 calc(6px + 14 * (100vw / 1920)) 'Iceberg';

      color: var(--text-color);
    }
  }
}
