@media (width > 460px) and (height > 420px) {
  .messages__container {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;

    padding-top: calc(5px + 15 * (100vw / 1920));

    padding-left: 2vw;
    padding-right: 2vw;

    max-width: 75vw;

    @media (width < 1320px) {
      max-width: 100%;
    }

    min-height: 330px;
    height: 92vh;

    @media (height < 2500px) {
      height: 90vh;
      @media (height < 2100px) {
        height: 88vh;
      }
      @media (height < 1000px) {
        height: 86vh;
      }
      @media (height < 600px) {
        height: 84vh;
      }
    }

    font-family: 'Iceberg';
    font-style: normal;
    font-weight: 400;

    user-select: none;

    .messages__chats-container {
      position: relative;
      width: 35%;
      height: auto;

      border-radius: 1.5vh;
      background: #2e2e2e;

      .messages__chats {
        width: 100%;
        height: calc(100% - 8.2vh);
        overflow: auto;
        overflow-x: hidden;

        .messages__chats-item {
          position: relative;

          width: 100%;

          border-top: 0.2vh solid black;
          cursor: pointer;

          &:hover {
            background-color: #525151;
          }

          &:active {
            background-color: rgb(31, 30, 30);
          }

          .messages__chats-item-avatar {
            margin: 1vh 1vh 0.8vh 1vh;

            width: calc(30px + 55 * (100vw / 1920));
            height: calc(30px + 55 * (100vw / 1920));

            border-radius: 50%;

            &:hover {
              border: 0.3vh dashed rgb(255, 255, 255);
            }
          }
        }

        .messages_name_lastMessages_block {
          position: absolute;

          top: calc(2px + 30 * (100vh / 1080));
          left: calc(34px + 75 * (100vw / 1920));

          @media (height > 718px) and (height < 1370px) {
            @media (width > 475px) and (width < 1300px) {
              top: calc(2px + 20 * (100vh / 1080));
              left: calc(40px + 75 * (100vw / 1920));
            }
          }

          .messages__chats-item-fullName {
            margin-bottom: calc(2px + 15 * (100vw / 1920));

            font-size: calc(5px + 20 * (100vw / 1920));
            line-height: 10px;

            color: white;
          }

          .messages__chats-item-message__name-block {
            display: flex;
          }

          .messages__chats-item-last-message,
          .messages__chats-item-message-name {
            font-size: calc(3px + 15 * (100vw / 1920));
            color: white;
          }

          .messages__chats-item-last-message {
            margin-right: 5px;
            word-break: break-all;
          }

          .messages__chats-item-message-name {
            position: relative;
            margin-right: 2px;
          }
        }

        .messages__chats-item-time {
          position: absolute;

          top: 0.3vh;
          right: 0.5vw;

          font-size: calc(6px + 9 * (100vh / 1080));
          color: white;
        }
      }

      .messages__chats-empty {
        position: relative;
        margin: 0 auto;
        top: 40%;

        width: calc(120px + 140 * (100vw / 1920));
        font-size: calc(20px + 20 * (100vw / 1920));

        text-decoration: underline;
        text-align: center;
        color: white;
      }
    }
  }

  .messages__find-chat,
  .messages__correspondence-header {
    position: relative;
    width: 100%;
    height: calc(16px + 42 * (100vh / 1080));

    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;

    border-top-left-radius: 1.5vh;
    border-top-right-radius: 1.5vh;

    background-color: rgb(0, 0, 0);
  }

  .messages__find-chat {
    .messages__search-icon {
      margin: 0 1vw;

      font-size: calc(4px + 25 * (100vh / 1080));
      color: white;
      cursor: pointer;
    }

    .messages__find-chat-input {
      position: absolute;

      padding-left: calc(18px + 50 * (100vw / 1920));
      padding-right: 2vw;

      width: 100%;
      height: 100%;

      font-size: calc(2px + 22 * (100vh / 1080));
      caret-color: rgb(255, 255, 255);
      border: 0;

      color: white;
      background-color: rgba(255, 255, 255, 0);
    }
  }

  .messages__correspondence-header {
    justify-content: space-between;

    .messages__correspondence-header-fullName {
      margin-left: 1.5vw;
      font-size: calc(4px + 30 * (100vh / 1080));
      color: white;

      @media (height > 718px) and (height < 1370px) {
        @media (width > 475px) and (width < 1300px) {
          font-size: calc(4px + 20 * (100vh / 1080));
        }
      }

      &:hover {
        color: rgb(122, 120, 120);
      }
    }

    .messages__correspondence-header-avatar {
      margin-top: calc(2px + 4 * (100vh / 1080));
      margin-right: 1.5vw;

      width: auto;
      height: calc(15px + 25 * (100vh / 1080));

      border-radius: 100%;

      &:hover {
        border: 0.2vh dashed rgb(255, 255, 255);
      }
    }
  }

  .messages__correspondence-container {
    opacity: 1;
    position: relative;
    width: 63.5%;

    border-radius: 1.5vh;
    background: #2e2e2e;

    .messages__correspondence {
      width: 100%;
      height: 81%;

      @media (height > 520px) {
        height: 85%;
        @media (height > 780px) {
          height: 87%;

          @media (height > 1200px) {
            height: 89%;
            @media (height > 1500px) {
              height: 90%;
            }
          }
        }
      }
      overflow-y: auto;
    }

    .messages__correspondence-add-20 {
      height: calc(15px + 20 * (100vh / 1080));

      font-size: calc(10px + 20 * (100vh / 1080));
      text-align: center;

      color: white;
      background-color: #43434394;

      cursor: pointer;

      &:hover {
        color: black;
      }
    }

    .meessages_correspondence-empty {
      margin-top: 180px;

      width: 600px;
      text-align: center;
    }

    .messages__correspondence-select-chat,
    .messages__correspondence-empty {
      position: relative;
      margin: 0 auto;
      top: 50%;

      width: calc(120px + 140 * (100vw / 1920));
      font-size: calc(20px + 20 * (100vw / 1920));
      text-align: center;
      color: white;
    }

    .messages__correspondence-message-block {
      position: relative;

      margin: 1vh 0;

      width: 100%;

      .messages__correspondence-message-avatar {
        width: calc(16px + 45 * (100vw / 1920));
        height: calc(16px + 45 * (100vw / 1920));

        margin-left: 1vw;

        border-radius: 100%;
      }

      .messages__correspondence_date_fullName {
        position: absolute;

        top: 0.3vh;
        left: calc(18px + 70 * (100vw / 1920));

        @media (height > 718px) and (height < 1370px) {
          @media (width > 475px) and (width < 1300px) {
            top: 0.3vh;
          }
        }

        .messages__correspondence-message-fullName {
          font-size: calc(4px + 25 * (100vw / 1920));
          color: white;
        }

        .messages__correspondence-message-date {
          font-size: calc(4px + 18 * (100vw / 1920));

          color: white;
        }
      }

      .messages_correspondence-message {
        margin: 1vh 1vw;

        font-size: calc(4px + 24 * (100vw / 1920));
        font-family: 'Iceberg';
        font-style: normal;
        font-weight: 400;

        word-wrap: break-word;

        color: white;
      }
    }

    .messages__correspondence-panel {
      position: absolute;

      width: 100%;
      height: calc(16px + 42 * (100vh / 1080));

      bottom: 0px;
      padding-top: calc(5px + 8 * (100vh / 1080));
      padding-left: 2vw;
      padding-right: 2vw;

      border-bottom-left-radius: 1.5vh;
      border-bottom-right-radius: 1.5vh;

      background-color: rgb(0, 0, 0);

      .messages__correspondence-panel-input {
        width: 75%;
        height: calc(7px + 25 * (100vh / 1080));

        font-size: calc(10px + 10 * (100vw / 1920));
        font-family: 'Iceberg';
        font-style: normal;
        border: none;
        border-radius: 0.5vh;
      }

      .messages__correspondence-panel-button {
        position: absolute;

        width: 20%;
        height: calc(8px + 26 * (100vh / 1080));

        right: 2vw;

        font-size: calc(3px + 15 * (100vh / 1080));
        font-family: 'Iceberg';
        font-style: normal;

        border-radius: 0.5vh;
        &:active {
          background-color: rgb(56, 56, 56);
          color: #ffffff;
        }
      }

      .messages__correspondence-wait {
        position: absolute;

        top:calc(6px + 9 * (100vh / 1080));
        right: 4.5vw;
        font-size: calc(6px + 25 * (100vw / 1920));
        color: white;
      }
    }
  }
}
