.messages__container {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;

  padding-top: calc(5px + 15 * (100vw / 1920));

  padding-left: 2vw;
  padding-right: 2vw;

  max-width: 75vw;

  height: 92vh;
  min-height: 150px;

  @media (width < 1320px) {
    max-width: 100%;
  }

  @media (height < 2500px) {
    height: 90vh;
    @media (height < 2100px) {
      height: 88vh;
    }
    @media (height < 1000px) {
      height: 86vh;
    }
    @media (height < 750px) {
      height: 84vh;
    }

    @media (height < 361px) {
      height: 82vh;
    }

    @media (height < 310px) {
      height: 78vh;
    }

    @media (height < 250px) {
      height: 74vh;
    }
  }

  user-select: none;
}

.chats-form__find-chat,
.correspondence-header {
  display: flex;
  position: relative;

  width: 100%;
  height: calc(16px + 42 * (100vh / 1080));

  top: 0;
  left: 0;

  align-items: center;
  align-content: center;

  border-top-left-radius: var(--borderRadius-interface);
  border-top-right-radius: var(--borderRadius-interface);

  background-color: var(--miniInterface-color);

  @media (width < 460px) {
    height: calc(10px + 26 * (100vh / 1080));
  }
}
