@media screen and (width > 460px) {
  .messages_container {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;

    padding: 20px 20px 0 20px;

    @media screen and (width < 770px) {
      padding: 20px 10px 0 10px;
    }

    max-width: 1320px;
    height: 100%;

    font-family: 'Iceberg';
    font-style: normal;
    font-weight: 400;

    user-select: none;

    .messages_chats {
      width: 35%;

      border-radius: 15px;
      background: #2e2e2e;

      .messages_chats_container {
        position: relative;

        width: 100%;
        min-height: 395px;

        overflow: auto;

        &::-webkit-scrollbar-track {
          border-bottom-right-radius: 20px;
        }

        .messages_chats_item {
          position: relative;

          width: 100%;
          height: calc(50px + 35 * (100vw / 1920));

          border-top: 2px solid black;
          cursor: pointer;

          &:hover {
            background-color: #525151;
          }

          &:active {
            background-color: rgb(31, 30, 30);
          }

          .messages_chats_item_avatar {
            margin: calc(5px + 5 * (100vw / 1920));

            width: calc(40px + 20 * (100vw / 1920));
            height: calc(40px + 20 * (100vw / 1920));

            border-radius: 100%;
          }
        }

        .message_chats_item_color {
          background-color: rgb(71, 71, 71);
        }

        .messages_chats_item_fullName {
          position: absolute;

          top: calc(12px + 5 * (100vw / 1920));
          left: calc(50px + 30 * (100vw / 1920));

          font-size: calc(8px + 6 * (100vw / 1280));
          line-height: 10px;

          color: white;
        }

        .messages_chats_item_time {
          position: absolute;

          top: 3px;
          right: 5px;

          font-size: calc(6px + 6 * (100vw / 1920));
          color: white;
        }

        .messages_chats_item_message_name_block {
          position: absolute;
          display: flex;

          top: calc(30px + 20 * (100vw / 1920));
          left: calc(50px + 30 * (100vw / 1920));
        }

        .messages_chats_item_last_message,
        .messages_chats_item_message_name {
          position: relative;
          font-size: calc(6px + 6 * (100vw / 1920));
          color: white;
        }

        .messages_chats_item_last_message {
          margin-right: 5px;
          word-break: break-all;
        }

        .messages_chats_item_message_name {
          position: relative;
          margin-right: 2px;
        }
      }

      .messages_chats_empty {
        position: absolute;

        top: 360px;
        font-size: 60px;
        text-decoration: none;
        color: white;
      }
    }
  }

  .messages_find_chat,
  .messages_correspondence_header {
    position: relative;
    width: 100%;
    height: 40px;

    padding-right: 10px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    background-color: rgb(0, 0, 0);

    .messages_search_icon {
      padding: 10px;
      font-size: 24px;
      z-index: 2;

      color: white;
    }

    .messages_find_chat_input {
      position: absolute;

      padding-left: 45px;

      width: 97%;
      height: 40px;

      left: 0;

      font-family: 'Iceberg';
      font-style: normal;
      font-weight: 400;
      font-size: calc(8px + 10 * (100vw / 1280));

      border: 0;

      color: white;
      background-color: rgba(255, 255, 255, 0);
    }
  }

  .messages_correspondence_container {
    opacity: 1;
    position: relative;
    width: 63.5%;
    height: 100%;

    border-radius: 15px;
    background: #2e2e2e;

    .messages_correspondence_header_avatar {
      position: absolute;
      right: 0px;
      margin-top: 5px;
      margin-right: 20px;

      width: 30px;
      height: 30px;

      border-radius: 100%;
    }

    .messages_correspondence_header_fullName {
      position: absolute;
      padding-top: 8px;
      padding-left: 20px;
      font-size: calc(14px + 10 * (100vw / 1920));
      color: white;
    }

    .messages_correspondence {
      width: 100%;
      min-height: 350px;
      margin-bottom: 45px;
      overflow: auto;
    }

    .messages_correspondence_add_20 {
      height: 40px;

      padding-top: 5px;

      font-size: 25px;
      text-align: center;

      color: white;
      background-color: #43434394;

      cursor: pointer;

      &:hover {
        color: black;
      }
    }

    .meessages_correspondence_empty {
      margin-top: 180px;

      width: 600px;
      text-align: center;
    }

    .messages_correspondence_select_chat,
    .meessages_correspondence_empty {
      position: relative;
      width: 275px;
      margin: 370px auto;

      font-size: 60px;
      color: white;
    }

    .messages_correspondence_message_block {
      position: relative;

      margin: 20px 0;

      width: 100%;

      .messages_correspondence_message_avatar {
        width: 45px;
        height: 45px;

        margin-left: 10px;

        border-radius: 100%;
      }

      .messages_correspondence_message_fullName {
        position: absolute;

        top: 5px;
        left: 60px;

        font-size: 18px;
        color: white;
      }

      .messages_correspondence_message_date {
        position: absolute;

        top: 28px;
        left: 60px;

        font-size: 13px;

        color: white;
      }

      .message_correspondence_message {
        margin: 0 10px;

        font-size: calc(10px + 10 * (100vw / 1920));
        font-family: 'Iceberg';
        font-style: normal;
        font-weight: 400;

        word-wrap: break-word;

        color: white;
      }
    }

    .messages_correspondence_panel {
      position: absolute;

      width: 100%;
      height: 50px;

      bottom: 0px;
      padding: 10px 20px;

      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;

      background-color: #000000;

      .messages_correspondence_panel_input {
        width: 75%;
        height: 30px;

        font-size: calc(10px + 10 * (100vw / 1920));
        font-family: 'Iceberg';
        font-style: normal;
        font-weight: 400;
      }

      .messages_correspondence_panel_button {
        position: absolute;

        width: 20%;
        height: 30px;

        right: 20px;

        font-size: calc(10px + 10 * (100vw / 1920));
        font-family: 'Iceberg';
        font-style: normal;

        &:active {
          background-color: rgb(56, 56, 56);
          color: #ffffff;
        }
      }
    }
  }
}
