.profile_subscribers {
  position: relative;

  margin-bottom: 20px;

  width: 380px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;

  background-color: #393939;
  border-radius: 15px;

  user-select: none;
}
