.profile_subscribers {
  position: relative;

  width: 380px;

  top: 592px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;

  background-color: #393939;
  border-radius: 15px;
  
  user-select: none;
}
