/* about */
.about {
  position: relative;
  width: 980px;
  height: 350px;
  left: -20px;
  top: 20px;
}

/* about_backGround */
.about_backGround {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #393939;
  border-radius: 25px;
}

.about_info {
  position: absolute;
  top: 100px;
  left: 23px;
  width: 935px;
  height: 225px;
  text-align: center;
  padding-top: 90px;
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  z-index: 1;
  color: #fe000000;
}

.about_info:hover {
  background-color: rgba(22, 22, 22, 0.505);
  color: rgb(255, 255, 255);
  cursor: pointer;

}


/* Alexey Tsvetkov */
.full_name {
  position: absolute;
  width: 500px;
  height: 30px;
  left: 21px;
  top: 18px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}

/* Line */
.line {
  position: absolute;
  width: 942px;
  height: -1px;
  left: 19px;
  top: 60px;

  border: 12px solid #2d2d2d;
  transform: rotate(-0.12deg);
}

/* Lives in */
.lives {
  position: absolute;
  width: 312px;
  height: 30px;
  left: 21px;
  top: 94px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}

/* From */
.from {
  position: absolute;
  width: 259px;
  height: 30px;
  left: 21px;
  top: 134px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}

/* Born on */
.born {
  position: absolute;
  width: 264px;
  height: 30px;
  left: 21px;
  top: 174px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}

/* Profession */
.profession {
  position: absolute;
  width: 294px;
  height: 30px;
  left: 21px;
  top: 214px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}

/* In a relationship with */
.relationship {
  position: absolute;
  width: 377px;
  height: 30px;
  left: 21px;
  top: 254px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}

/* Student at */
.student {
  position: absolute;
  width: 301px;
  height: 30px;
  left: 22px;
  top: 294px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}
