
/* ready_post */
.ready_post {
  position: relative;
  width: 980px;
  height: 728px;
  left: 420px;
  top: 60px;
}

/* ready_post_backGround */
.ready_post_backGround {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #393939;
  border-radius: 25px;
}

/* ready_post_avatar */
.ready_post_avatar {
  position: absolute;
  width: 126px;
  height: 132px;
  left: 20px;
  top: 17px;

  border-radius: 68.5px;
}

/* ready_post_fullName */
.ready_post_fullName {
  position: absolute;
  width: 204px;
  height: 30px;
  left: 152px;
  top: 34px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}

/* ready_post_date */
.ready_post_date {
  position: absolute;
  width: 194px;
  height: 30px;
  left: 152px;
  top: 70px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;

  color: #ffffff;
}

/* ready_post_menu */
.ready_post_menu {
  position: absolute;
  width: 48px;
  height: 45px;
  left: 908px;
  top: 26px;
  color: #ffffff;
}

/* ready_post_message */
.ready_post_message {
  position: absolute;
  width: 268px;
  height: 29px;
  left: 20px;
  top: 160px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

/* ready_post_content */
.ready_post_content {
  position: absolute;
  width: 933px;
  height: 414px;
  left: 20px;
  top: 195px;
  color: #ffffff;
}

/* ready_post_from */
.ready_post_from {
  position: absolute;
  width: 246px;
  height: 24px;
  left: 20px;
  top: 615px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

/* ready_post_views */
.ready_post_views {
  position: absolute;
  width: 157px;
  height: 22px;
  left: 20px;
  top: 642px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

/* ready_post_like */
.ready_post_like {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 20px;
  top: 678px;
  color: #ffffff;
}

/* ready_post_dislike */
.ready_post_dislike {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 60px;
  top: 681px;
  color: #ffffff;
}

/* ready_post_comment */
.ready_post_comment {
  position: absolute;
  width: 27px;
  height: 24px;
  left: 100px;
  top: 681px;
  color: #ffffff;
}

/* .ready_post_share */
.ready_post_share {
  position: absolute;
  width: 27px;
  height: 24px;
  left: 137px;
  top: 682px;
  color: #ffffff;
}

/* friends */
.friends {
  position: relative;
  width: 380px;
  height: 249px;
  left: 20px;
  top: 40px;
}

/* friends_backGround */
.friends_backGround {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #393939;
  border-radius: 25px;
}

/* friends_title */
.friends_title {
  position: absolute;
  width: 99px;
  height: 30px;
  left: 24px;
  top: 4px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}

/* subscriptions */
.subscriptions {
  position: relative;
  width: 380px;
  height: 397px;
  left: 20px;
  top: -60px;
}

/* subscriptions_backGround */
.subscriptions_backGround {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #393939;
  border-radius: 25px;
}

/* subscriptions_title */
.subscriptions_title {
  position: absolute;
  width: 198px;
  height: 30px;
  left: 22px;
  top: 5px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}

/* videos */
.videos {
  position: relative;
  width: 380px;
  height: 397px;
  left: 20px;
  top: -40px;
}

/* videos_backGround */
.videos_backGround {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #393939;
  border-radius: 25px;
}

/* videos_title */
.videos_title {
  position: absolute;
  width: 222px;
  height: 30px;
  left: 22px;
  top: 8px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}

/* music */
.music_profile {
  position: relative;
  width: 380px;
  height: 215px;
  left: 20px;
  top: -350px;
}

/* music_backGround */
.music_backGround {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #393939;
  border-radius: 25px;
}

/* music_title */
.music_title {
  position: absolute;
  width: 198px;
  height: 30px;
  left: 22px;
  top: 5px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}
