.image-item__btn-wrapper {
  z-index: 999;
}

/* avatar */

.avatar {
  position: relative;
  width: 380px;
  height: 470px;
  left: 20px;
  top: 20px;
}

/* avatar_backGround */

.avatar_backGround {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #393939;
  border-radius: 25px;
}

/* image */

.avatar_image {
  position: absolute;
  width: 328px;
  height: 375px;
  left: 26px;
  top: 18px;

  border-radius: 15px;
}

/* button */

.avatar_button {
  position: absolute;
  width: 328px;
  height: 51px;
  left: 26px;
  top: 407px;

  background: linear-gradient(88.95deg, #0a0404 -15.87%, #280404 80.66%);
  border-radius: 25px;
}

.avatar_input {
  opacity: 0;
  position: absolute;
  width: 328px;
  height: 51px;
  border-radius: 25px;
  z-index: 3;
}

/* Сhange photo */

.avatar_change {
  position: absolute;
  width: 118px;
  height: 28px;
  left: 105px;
  top: 15px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

/* friends */
.friends {
  position: relative;
  width: 380px;
  height: 249px;
  left: 20px;
  top: 40px;
}

/* friends_backGround */
.friends_backGround {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #393939;
  border-radius: 25px;
}

/* friends_title */
.friends_title {
  position: absolute;
  width: 99px;
  height: 30px;
  left: 24px;
  top: 4px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}

/* images */
.images {
  position: relative;
  width: 980px;
  height: 370px;
  left: -20px;

  padding: 0;
  top: -80px;
}

/* images_backGround */
.images_backGround {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #393939;
  border-radius: 25px;
}

.costili1 {
  position: absolute;
  width: 293px;
  height: 293px;
  left: 345px;
  top: 19px;
  background-color: #393939;
  z-index: 10;
}

.costili2 {
  position: absolute;
  width: 293px;
  height: 293px;
  right: 29px;
  top: 19px;
  background-color: #393939;
  z-index: 10;
}

.images_button {
  position: absolute;
  width: 600px;
  height: 38px;
  left: 185px;
  top: 320px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.333);
}
/* background: linear-gradient(88.95deg, #0a0404 -15.87%, #280404 80.66%); */

.images_input {
position: relative;
  opacity: 0;
  width: 600px;
  height: 38px;
  border-radius: 25px;
  z-index: 3;
}

.add_images {
margin: -29px auto 0 auto;
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 100px;

  color: #ffffff;
}

/* slider_image */
.slider_image {
  border-radius: 15px;
  margin-bottom: 25px;
}

.slick-prev,
.slick-next {
  height: 300px !important;
  z-index: 289;
  width: 35px;
  margin-top: 10px;
  background-color: #393939 !important;
}

.slick-prev {
  margin-left: 30px;
}

.slick-arrow:before {
  font-size: 26px;
  color: rgb(0, 0, 0);
}

.slick-prev:hover,
.slick-next:hover {
  height: 380px;
  background-color: rgb(120, 240, 204);
}

.slick-slider {
  width: 951px;
}

.slider_link {
  pointer-events: visiblePainted;
}

.image_item {
  text-align: right;
}

.slick-list {
  margin-left: 32px !important;
  width: 940px;
  max-height: 333px;
}

.slick-track {
  min-width: 1100px;
  max-height: 270px;
  margin-top: 20px;
}

.addPhoto {
  position: relative;
  z-index: 5;
  border-radius: 15px;
  width: 200px;
  top: 345px;
  left: 355px;
}

.updateImage {
  position: relative;
  border-color: #0a040400;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #0a040400;
  color: #0a040400;
  width: 210px;
  height: 320px;

  bottom: 320px;
}

.updateImage:hover {
  border-color: #000000;
  background-color: #46464675;
  font-size: 28px;
  font-weight: bolder;
  color: #0a0404;
}

.removeImage {
  position: relative;
  border-color: #0a040400;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0a040400;
  color: #0a040400;
  width: 210px;
  height: 320px;
  bottom: 320px;
}

.removeImage:hover {
  border-color: #000000;
  background-color: #46464675;
  font-size: 28px;
  font-weight: bolder;
  color: #0a0404;
}

/* subscriptions */
.subscriptions {
  position: relative;
  width: 380px;
  height: 397px;
  left: 20px;
  top: -60px;
}

/* subscriptions_backGround */
.subscriptions_backGround {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #393939;
  border-radius: 25px;
}

/* subscriptions_title */
.subscriptions_title {
  position: absolute;
  width: 198px;
  height: 30px;
  left: 22px;
  top: 5px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}

/* post */
.post {
  position: relative;
  width: 980px;
  height: 70px;
  left: -20px;
  top: -60px;
}

/* post_backGround */
.post_backGround {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #393939;
  border-radius: 25px;
}

/* post_avatar */
.post_avatar {
  position: absolute;
  width: 53px;
  height: 53px;
  left: 20px;
  top: 9px;
  border-radius: 100%;

  background: linear-gradient(180deg, #0a0404 0%, #300f0f 97.4%);
}

/* post_title */
.post_title {
  position: absolute;
  width: 171px;
  height: 37px;
  left: 114px;
  top: 16px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}

/* post_image */
.post_image {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 675px;
  top: 15px;
  color: #ffffff;
}

/* post_video */
.post_video {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 740px;
  top: 15px;
  color: #ffffff;
}

/* post_audio */
.post_audio {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 805px;
  top: 15px;
  color: #ffffff;
}

/* post_location */
.post_location {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 864px;
  top: 15px;
  color: #ffffff;
}

/* post_file */
.post_file {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 919px;
  top: 15px;
  color: #ffffff;
}

/* ready_post */
.ready_post {
  position: relative;
  width: 980px;
  height: 728px;
  left: -20px;
  top: -366px;
}

/* ready_post_backGround */
.ready_post_backGround {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #393939;
  border-radius: 25px;
}

/* ready_post_avatar */
.ready_post_avatar {
  position: absolute;
  width: 126px;
  height: 132px;
  left: 20px;
  top: 17px;

  border-radius: 68.5px;
}

/* ready_post_fullName */
.ready_post_fullName {
  position: absolute;
  width: 204px;
  height: 30px;
  left: 152px;
  top: 34px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}

/* ready_post_date */
.ready_post_date {
  position: absolute;
  width: 194px;
  height: 30px;
  left: 152px;
  top: 70px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;

  color: #ffffff;
}

/* ready_post_menu */
.ready_post_menu {
  position: absolute;
  width: 48px;
  height: 45px;
  left: 908px;
  top: 26px;
  color: #ffffff;
}

/* ready_post_message */
.ready_post_message {
  position: absolute;
  width: 268px;
  height: 29px;
  left: 20px;
  top: 160px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

/* ready_post_content */
.ready_post_content {
  position: absolute;
  width: 933px;
  height: 414px;
  left: 20px;
  top: 195px;
  color: #ffffff;
}

/* ready_post_from */
.ready_post_from {
  position: absolute;
  width: 246px;
  height: 24px;
  left: 20px;
  top: 615px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

/* ready_post_views */
.ready_post_views {
  position: absolute;
  width: 157px;
  height: 22px;
  left: 20px;
  top: 642px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

/* ready_post_like */
.ready_post_like {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 20px;
  top: 678px;
  color: #ffffff;
}

/* ready_post_dislike */
.ready_post_dislike {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 60px;
  top: 681px;
  color: #ffffff;
}

/* ready_post_comment */
.ready_post_comment {
  position: absolute;
  width: 27px;
  height: 24px;
  left: 100px;
  top: 681px;
  color: #ffffff;
}

/* .ready_post_share */
.ready_post_share {
  position: absolute;
  width: 27px;
  height: 24px;
  left: 137px;
  top: 682px;
  color: #ffffff;
}

/* videos */
.videos {
  position: relative;
  width: 380px;
  height: 397px;
  left: 20px;
  top: -40px;
}

/* videos_backGround */
.videos_backGround {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #393939;
  border-radius: 25px;
}

/* videos_title */
.videos_title {
  position: absolute;
  width: 222px;
  height: 30px;
  left: 22px;
  top: 8px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}

/* music */
.music_profile {
  position: relative;
  width: 380px;
  height: 215px;
  left: 20px;
  top: -350px;
}

/* music_backGround */
.music_backGround {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #393939;
  border-radius: 25px;
}

/* music_title */
.music_title {
  position: absolute;
  width: 198px;
  height: 30px;
  left: 22px;
  top: 5px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}
