@media (width > 460px) and (height > 420px) {
  .wall {
    position: relative;

    margin-bottom: 2vh;
    padding: 1vh 1vw;

    width: 100%;

    border-radius: var(--borderRadius-interface);
    box-shadow: var(--box-shadow);

    background: var(--interface-color);
    color: var(--text-color);
  }
}
