@media (width > 460px) and (height > 420px) {
  .profile_friends {
    margin: 2vh 0;

    width: 100%;
    height: calc(50px + 100 * (100vw / 1080));

    font-family: 'Iceberg';
    font-style: normal;
    font-weight: 400;

    border-radius: 2vh;
    box-shadow: var(--box-shadow);

    background: var(--interface-color);
    color: var(--text-color);
    
    user-select: none;

    .profile_friends_title {
      position: relative;

      height: calc(10px + 20 * (100vw / 1080));
      left: calc(2px + 30 * (100vw / 1920));

      font-size: calc(6px + 20 * (100vw / 1920));
      line-height: calc(15px + 25 * (100vw / 1920));

      color: #ffffff !important;

      &:hover {
        color: black;
      }
    }
  }

  .profile_friends_container {
    display: flex;

    margin: 0 auto;

    width: calc(40px + 277 * (100vw / 1920));
    height: auto;

    flex-wrap: wrap;

    .profile_friend {
      margin: 0 0.3vw 2.5vh 0.3vw;

      width: calc(7.5px + 44 * (100vw / 1920));
      height: calc(7.5px + 55 * (100vh / 1080));

      text-align: center;
      cursor: pointer;

      &:hover .profile_friend_avatar {
        border: 0.2vh dashed white;
      }

      &:hover .profile_friend_name {
        color: rgb(174, 173, 173);
      }

      .profile_friend_avatar {
        width: calc(8px + 43 * (100vw / 1920));
        height: calc(8px + 43 * (100vw / 1920));

        background-color: black;
        border-radius: 100%;
      }

      .profile_friend_name {
        font-size: calc(2px + 12 * (100vw / 1920));
        color: #ffffff;
      }
    }
  }
}
