.profile-friends {
  position: relative;
  margin: 2vh 0;

  width: 100%;
  min-height: 11vh;

  border-radius: var(var(--interface-border-radius));
  box-shadow: var(--box-shadow);

  background: var(--interface-color);
  color: var(--text-color);

  @media (width < 460px) {
    margin: 1vh 0;
  }

  .profile-friends__title-skeleton,
  .profile-friends__title {
    position: relative;

    height: calc(10px + 20 * (100vw / 1080));
    left: calc(2px + 12 * (100vw / 1920));

    font: normal 400 calc(6px + 20 * (100vw / 1920)) / calc(15px + 25 * (100vw / 1920)) 'Iceberg';

    color: var(--text-color);

    &:hover {
      color: var(--text-color-hover);
    }
  }

  .profile-friends__title-skeleton {
    margin: 1vh 0;

    width: calc(35px + 100 * (100vw / 1920));
    height: 3vh;

    border-radius: var(var(--interface-border-radius));
  }
}

.profile-friends__container {
  position: relative;
  display: flex;
  justify-content: space-between;

  margin: 1vh auto 0 auto;
  padding-bottom: 0.5vh;

  width: 94%;
  height: auto;

  flex-wrap: wrap;

  @media (width < 460px) {
    padding-bottom: 0;
  }

  .profile-friends__friend-skeleton {
    width: 100%;

    cursor: auto !important;
  }

  .profile-friends__container__friend-skeleton,
  .profile-friends__container__friend {
    margin: 0 0.5vw 1vh 0;
    width: 100%;

    text-align: center;
    cursor: pointer;

    &:hover .profile-friends__container__friend__avatar {
      border: var(--borderImages);
    }

    &:hover .profile-friends__container__friend__name {
      color: var(--text-color-hover);
    }

    .profile-friends__container__friend__avatar {
      width: calc(15px + 50 * (100vw / 1920)) !important;
      height: calc(15px + 50 * (100vw / 1920)) !important;

      object-fit: cover;
      border-radius: 100%;
    }

    .profile-friends__container__friend__name {
      font: normal 400 calc(3px + 12 * (100vw / 1920)) 'Iceberg';
      color: var(--text-color);
    }
  }

  .profile-friends__container__friend-skeleton {
    margin: 0 0.5vw calc(-14px + 20 * (100vh / 1080)) 0;
  }
}
