.wall {
  position: relative;
  width: 980px;
  left: 420px;
  top: 60px;
  border-radius: 25px;
  background: #393939;
  margin-bottom: 20px;
  display: inline-block;
}

.wall_avatar {
  position: relative;
  width: 126px;
  height: 132px;
  left: 20px;
  top: 17px;

  border-radius: 68.5px;
}

.wall_fullName {
  position: absolute;
  width: 204px;
  height: 30px;
  left: 152px;
  top: 34px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}

.wall_date {
  position: absolute;
  width: 194px;
  height: 30px;
  left: 152px;
  top: 70px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;

  color: #ffffff;
}

.wall_menu {
  position: absolute;
  cursor: pointer;
  width: 48px;
  height: 45px;
  left: 908px;
  top: 26px;
  color: #ffffff;
}

.wall_content {
  position: relative;
  width: 900px;
  margin: 40px 0 20px 40px;
  display: inline-block;

  background-color: rgba(41, 117, 16, 0);
}

.wall_text {
  word-wrap: break-word;
  margin-bottom: 10px;
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: white;
}

.wall_images {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.wall_large_image {
  position: relative;
  border: 3px solid rgb(255, 255, 255);
  width: 600px;
  height: 340px;
}

.wall_small_right_image {
  position: relative;
  border: 3px solid rgb(255, 255, 255);
  width: 300px;
  height: 552px;
}

.wall_small_down_image {
  position: absolute;
  width: 600px;
  height: 212px;
  top: 340px;
  left: 0px;
  border: 3px solid rgb(255, 255, 255);
}

.wall_one_image {
  width: 900px !important;
  height: 550px !important;
}

.wall_one_image {
  width: 900px !important;
  height: 550px !important;
}

.wall_two_image_first,
.wall_two_image_second {
  width: 450px !important;
  height: 550px !important;
}

.wall_from {
  position: relative;
  width: 246px;
  height: 24px;
  margin-bottom: 10px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.wall_like_icon,
.wall_dislike_icon,
.wall_comment_icon,
.wall_share_icon {
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  user-select: none;
  color: #ffffff;
}

.like_number,
.dislike_number {
  position: relative;
  font-size: 20px;
  top: -20px;
  color: #ffffff;
  user-select: none;
  margin-right: 10px;
}

.wall_iframe {
  position: relative;
  margin-bottom: 10px;
  width: 900px;
  height: 350px;
}

.comments {
  position: relative;

  width: 900px;
  background-color: rgb(121, 117, 117);
}

.comment_input {
  width: 740px;
  height: 70px;
  margin: 10px 50px;
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
  resize: none;
  border-radius: 15px;
}

.input_button {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 50px;
  height: 70px;
  border-radius: 15px;
  border: 0px;
  background-color: black;
}

.comment {
  position: relative;
  width: 800px;
  min-height: 100px;
  border-radius: 15px;
  margin: 0 auto 20px auto;
  background-color: rgb(255, 255, 255);
}

.comment_avatar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-left: 10px;
  margin-top: 10px;
}

.comment_fullName,
.comment_time {
  position: absolute;
  left: 80px;
  top: 15px;
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.comment_time {
  top: 35px !important;
  font-weight: 400;
}

.comment_text {
  margin-top: 5px;
  margin-left: 20px;
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px !important;
  padding-bottom: 10px;
}
