.about__container {
  position: relative;
  .about__info {
    position: absolute;

    padding-top: calc(30px + 70 * (100vh / 1080));

    width: 100%;
    height: 98%;

    text-align: right;

    font: normal 400 calc(15px + 16 * (100vw / 1920)) 'Iceberg';

    z-index: 1;

    @media (width < 460px) {
      padding-top: 0;
    }

    &:hover {
      background-color: rgba(124, 122, 122, 0.56);
      cursor: pointer;
    }

    .about__info__text {
      position: absolute;

      bottom: 0;
      right: 0;

      font: normal 400 calc(6px + 14 * (100vw / 1920)) 'Iceberg';
      color: var(--text-color);
    }
  }

  .about__info-lives,
  .about__info-from,
  .about__info-born,
  .about__info-profession,
  .about__info-relationship,
  .about__info-student {
    position: relative;

    width: 100%;
    height: calc(15px + 28 * (100vh / 1080));

    top: 0.5vh;

    font: normal 400 calc(8px + 14 * (100vw / 1920)) / calc(5px + 22 * (100vh / 1080)) 'Iceberg';

    @media (width < 460px) {
      height: calc(8.5px + 16.5 * (100vh / 1080));

      top: 0vh;

      font: normal 400 calc(4px + 8 * (100vw / 460)) / calc(5px + 22 * (100vh / 1080)) 'Iceberg';
    }
  }
}
