.slider_images {
  position: relative;

  width: 920px;
  height: 270px;

  top: 40px;
  left: 360px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;

  border-radius: 15px;

  color: #ffffff;
  background: #393939;

  user-select: none;

  .slider_image_closed_1,
  .slider_image_closed_2,
  .slider_image_closed_3 {
    position: absolute;

    width: 202px;
    height: 202px;

    left: 250px;
    top: 18px;

    background-color: #393939;
    z-index: 10;
  }

  .slider_image_closed_2 {
    left: 470px !important;
  }

  .slider_image_closed_3 {
    left: 690px !important;
  }

  .slider_image_link {
    pointer-events: visiblePainted;
  }

  .slider_image {
    margin-bottom: 10px;
    border-radius: 15px;
  }

  .slider_image_item {
    text-align: right;
  }

  .slider_delete_img {
    position: absolute;
    margin-left: 165px;
    font-size: 40px;

    filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
    color: white;

    cursor: pointer;
    z-index: 10;

    &:hover {
      color: black;
    }
  }

  .slick-prev,
  .slick-next {
    margin-top: 5px;

    width: 40px !important;
    height: 220px !important;

    background-color: #393939 !important;
    z-index: 289;
  }

  .slick-prev {
    margin-left: 30px;
  }

  .slick-arrow:before {
    font-size: 25px;
    color: rgb(250, 249, 249);
  }

  .slick-arrow:hover:before {
    color: rgb(0, 0, 0);
  }

  .slick-arrow:active:before {
    font-size: 30px;
  }

  .slick-slider {
    width: 890px;
  }

  .slick-list {
    margin-left: 30px !important;

    width: 880px;
    height: 225px;
  }

  .slick-track {
    margin-top: 20px;

    min-width: 900px;
    max-height: 225px;
  }

  .slider_images_button {
    margin: 5px auto;

    width: 400px;
    height: 30px;

    left: 150px;
    top: 230px;

    background-image: linear-gradient(to right, #000000 0%, #0164f8 51%, #000000 100%);
    background-size: 200% auto;
    border: 0;
    border-radius: 15px;

    transition: 0.5s;

    letter-spacing: 2px;

    &:hover {
      background-position: right center;
    }

    &:active {
      transform: scale(0.9);
      transition: 0.2s;
    }

    .slider_add_image {
      margin-top: -25px;
      margin-left: 145px;

      width: 120px;

      text-align: center;
      text-transform: uppercase;
      font-size: 18px;

      z-index: 0 !important;

      cursor: pointer;
    }
  }
}
