.profile__slider {
  position: relative;

  margin: 2vh 0;

  padding-bottom: 1vh;
  padding-top: 2vh;

  width: 100%;
  height: auto;

  border-radius: var(var(--interface-border-radius));
  box-shadow: var(--box-shadow);

  background-color: var(--interface-backgroundcolor);
  color: var(--text-color);

  overflow: hidden;

  @media (width < 460px) {
    margin: 1vh 0;
    padding-bottom: 0.5vh;
    padding-top: 1vh;
  }

  .slider_image_link {
    pointer-events: visiblePainted;
  }

  .profile__slider__image-img {
    margin-bottom: 4vh;
    width: 94%;

    height: calc(48px + 225 * (100vw / 1920));
    object-fit: cover;

    border-radius: var(var(--interface-border-radius));
    &:hover {
      @media (width > 460px) {
        border: var(--borderImages);
      }
    }
  }

  .profile__slider__image {
    position: relative;
    text-align: right;
  }

  .profile__slider__image-delete {
    position: absolute;

    top: calc(0px + 8 * (100vh / 1080));
    right: calc(2px + 26 * (100vw / 1920));

    width: calc(12px + 28 * (100vw / 1920));
    filter: drop-shadow(0px 0px 0.2vh rgb(0, 0, 0));

    cursor: pointer;
    z-index: 20;

    @media (width < 460px) {
      top: 0.2vh;
    }

    &:hover {
      color: var(--text-color-hover);
    }
  }

  .slick-prev,
  .slick-next {
    z-index: 289;
    width: 6%;
    height: 100%;
  }

  .slick-prev {
    margin-left: calc(24px + 2 * (100vw / 1920));
  }

  .slick-next {
    margin-right: calc(24px + 2 * (100vw / 1920));
  }

  .slick-arrow:before {
    font-size: calc(4px + 28 * (100vw / 1920));
    color: var(--text-color);
  }

  .slick-arrow:active:before {
    color: rgb(151, 149, 149);
  }

  .slick-slider {
    z-index: 10;
  }

  .slick-list {
    margin: 0 auto;
    padding-left: 0.4vw;
    width: 88%;
    height: calc(49.3px + 246 * (100vw / 1920));

    border-radius: var(var(--interface-border-radius)) !important;
    box-shadow: var(--box-shadow);

    text-align: left !important;

    background-color: rgb(19, 19, 19);
    z-index: -1;
  }

  .slick-slide,
  .slick-active,
  .slick-current {
    z-index: 0;
  }

  .slick-track {
    margin: 1.1% 0;
    z-index: 0;
  }

  .profile__slider__skeleton {
    margin: 1vh auto 0 auto !important;
    width: 40%;
    height: calc(10px + 30 * (100vh / 1080));
  }

  .profile__slider__button {
    position: relative;
    margin: 1vh auto 0 auto !important;

    width: 40%;
    height: calc(10px + 30 * (100vh / 1080));

    left: 28%;

    border: 0;
    border-radius: var(var(--interface-border-radius));

    background-color: black;
    box-shadow: 0 0 0.2vw rgb(255, 254, 254);

    text-transform: uppercase;

    font: normal 400 calc(8px + 10 * (100vw / 1920)) 'Iceberg';

    letter-spacing: 0.2vw;
    color: var(--text-color);

    @media (width < 460px) {
      margin: 1vh auto 0.5vh auto !important;

      height: calc(8px + 14 * (100vh / 1080));
      font: normal 400 calc(3px + 6 * (100vw / 460)) 'Iceberg';
    }

    &:hover {
      background-position: right center;
    }

    &:active {
      transform: scale(0.9);
      transition: 0.2s;
    }
  }
}
