.footer {
  position: absolute;

  width: 100%;
  height: calc(10px + 30 * (100vh / 1080));

  left: 0;
  bottom: 0;

  text-align: center;
  background: #2e2e2e;

  .footer_url {
    position: relative;

    bottom: -.3vh;

    font: {
      size: calc(10px + 10 * (100vw / 1080));
      family: 'Iceberg';
      style: normal;
      decoration: none;
    }
    color: white;
  }
}
