  .footer {
    position: absolute;

    width: 100%;
    height: calc(10px + 30 * (100vh / 1080));

    left: 0;
    bottom: 0;

    text-align: center;

    box-shadow: var(--box-shadow);

    background-color: var(--interface-color);
    color: var(--text-color);

    .footer__url {
      position: relative;

      bottom: -0.3vh;

      font: normal 400 calc(10px + 10 * (100vw / 1080)) 'Iceberg';

      color: var(--text-color);
    }
  }
