.music_profile {
  position: relative;

  margin-bottom: 20px;

  width: 340px;
  height: 250px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;

  background: #393939;
  border-radius: 15px;

  .music_title {
    position: absolute;

    height: 30px;

    top: 5px;
    left: 22px;

    font-size: 22px;
    line-height: 37px;

    color: #ffffff;
  }
}
