.music_profile {
  position: relative;

  margin-bottom: 20px;

  width: 380px;
  height: 215px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;

  background: #393939;
  border-radius: 15px;
}

.music_backGround {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.music_title {
  position: absolute;

  width: 198px;
  height: 30px;

  top: 5px;
  left: 22px;

  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}
