.wall__content-container {
  width: 100% !important;
  height: 100%;

  .wall_content-container__text {
    margin-bottom: 1vh;

    word-wrap: break-word;
    font: normal 400 calc(4px + 14 * (100vw / 1920)) 'Iceberg';
  }

  .wall__content-container__images {
    position: relative;
    display: block;

    margin: 1vh auto;

    width: 100% !important;

    @media (width < 460px) {
      margin: 0vh auto;
    }
  }

  .wall__content-container__skeleton {
    margin-bottom: 1vh;
    width: 100%;
    height: calc(40px + 260 * (100vh / 1080));
  }

  .wall__content-container__images-first,
  .wall__content-container__images-second {
    margin: 0 auto;

    width: 50%;
    height: calc(40px + 260 * (100vh / 1080)) !important;

    border: 0.5vh solid black;

    @media (width < 460px) {
      height: calc(40px + 120 * (100vh / 1080));
    }

    &:hover {
      border: var(--borderImages);
    }
  }

  .wall__content-container__images-third {
    position: relative;

    width: 100% !important;
    max-height: calc(40px + 190 * (100vh / 1080)) !important;

    top: calc(-4px - 0 * (100vh / 1080)) !important;

    border: 0.5vh solid black;

    @media (width < 460px) {
      max-height: calc(40px + 100 * (100vh / 1080)) !important;
    }

    &:hover {
      border: var(--borderImages);
    }
  }

  .wall__content-container__iframe {
    margin-top: 1vh;

    width: 100%;
    height: calc(60px + 360 * (100vh / 1080));

    border: 0;

    @media (width < 460px) {
      margin-top: 0vh;

      height: calc(60px + 160 * (100vh / 1080));
    }
  }

  .wall_from {
    margin-top: 0.5vh;
    font: normal 400 calc(4px + 14 * (100vw / 1920)) 'Iceberg';
  }
}
