html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  background-color: var(--background-color);
}

:root {
  --background-color-darkTheme: #141414;

  --interface-color-darkTheme: #222222;
  --interface-color-hover-darkTheme: #2f2f2f;
  --interface-color-active-darkTheme: #171717;

  --miniInterface-color-darkTheme: black;
  --miniInterface-color-hover-darkTheme: rgb(255, 255, 255);

  --backgroundInput-color-darkTheme: #3c3c3c;

  --text-color-darkTheme: white;
  --text-color-hover-darkTheme: #929292;

  --box-shadow-darkTheme: 0 0 0 0.08vh #424242;
  --borderImages-darkTheme: 0.3vh dashed white;

  --background-color: var(--background-color-darkTheme);

  --interface-color: var(--interface-color-darkTheme);
  --interface-color-hover: var(--interface-color-hover-darkTheme);
  --interface-color-active: var(--interface-color-active-darkTheme);

  --miniInterface-color: var(--miniInterface-color-darkTheme);
  --miniInterface-color-hover: var(--miniInterface-color-hover-darkTheme);

  --backgroundInput-color: var(--backgroundInput-color-darkTheme);

  --text-color: var(--text-color-darkTheme);
  --text-color-hover: var(--text-color-hover-darkTheme);

  --box-shadow: var(--box-shadow-darkTheme);
  --borderImages: var(--borderImages-darkTheme);
  --borderRadius-interface: 2vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: calc(2px + 10 * (100vw / 1920));
}
::-webkit-scrollbar-track {
  background: var(--interface-color);
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.835);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 100px auto 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

input {
  outline: 0 !important;
}

input::-webkit-file-upload-button {
  display: none;
  z-index: 10 !important;
  cursor: pointer;
}
