html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  background-color: rgb(27, 27, 27);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a { text-decoration: none; color: white; }

::-webkit-scrollbar {
  width: calc(5px + 5 * (100vw / 1920));
}
::-webkit-scrollbar-track {
  background: #f1f1f100;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}

input {
  outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 100px auto 0 auto;
}

.profile_container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 250px !important;
  max-width: 1280px;
  min-height: 2100px;
}

.left_container {
  position: absolute;
  width: 340px;
  height: 90%;

  top: 0;
}

.left_mini_container {
  position: sticky;
  margin-top: 485px;
  top: -245px !important;
}

.image_input_parser {
  width: 100%;
  height: 100%;

  top: 0;

  opacity: 0;
  z-index: 10 !important;
  cursor: pointer;
}

input::-webkit-file-upload-button {
  z-index: 10 !important;
  cursor: pointer;
}
