html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  background-color: var(--body-backgroundcolor);
}

:root {
  //create
  --max-width-container-wave: 66vw;
  --body-backgroundcolor-darkTheme: #141414;

  --interface-backgroundcolor-darkTheme: #222222;
  --interface-backgroundcolor-hover-darkTheme: #2f2f2f;
  --interface-backgroundcolor-active-darkTheme: #171717;
  --interface-border-radius-interface: 1vh;
  --interface-box-shadow-darkTheme: 0 0 0 0.1vh #424242;

  --miniInterface-backgroundcolor-darkTheme: black;
  --miniInterface-backgroundcolor-hover-darkTheme: rgb(255, 255, 255);
  --miniInterface-textcolor-darkTheme: black;
  --miniInterface-textcolor-hover-darkTheme: rgb(255, 255, 255);

  --block-input-border-radius-darkTheme: 2vh;
  --block-input-box-shadow-darkTheme: 0px 0px 1vh 0.2vh rgb(0, 0, 0, 0.7) inset;

  --button-down-background-color-darkTheme: #000000;
  --button-down-box-shadow-darkTheme: 0 0px .5vh white;
  --button-up-background-color-darkTheme: #2f2f2f;
  --button-border-radius-darkTheme: 1vh;

  //finish
  --max-width-container: var(--max-width-container-wave);
  --body-backgroundcolor: var(--body-backgroundcolor-darkTheme);

  --interface-backgroundcolor: var(--interface-backgroundcolor-darkTheme);
  --interface-backgroundcolor-hover: var(--interface-backgroundcolor-hover-darkTheme);
  --interface-backgroundcolor-active: var(--interface-backgroundcolor-active-darkTheme);
  --interface-border-radius: var(--interface-border-radius-interface);
  --interface-box-shadow: var(--interface-box-shadow-darkTheme);

  --miniInterface-backgroundcolor: var(--miniInterface-backgroundcolor-darkTheme);
  --miniInterface-backgroundcolor-hover: var(--miniInterface-backgroundcolor-hover-darkTheme);
  --miniInterface-textcolor: var(--miniInterface-textcolor-darkTheme);
  --miniInterface-textcolor-hover: var(--miniInterface-textcolor-hover-darkTheme);

  --block-input-border-radius: var(--block-input-border-radius-darkTheme);
  --block-input-box-shadow: var(--block-input-box-shadow-darkTheme);

  --button-down-background-color: var(--button-down-background-color-darkTheme);
  --button-down-box-shadow: var(--button-down-box-shadow-darkTheme);
  --button-up-background-color: var(--button-up-background-color-darkTheme);
  --button-border-radius: var(--button-border-radius-darkTheme);

  //old
  --backgroundInput-color-darkTheme: #3c3c3c;

  --text-color-darkTheme: white;
  --text-color-hover-darkTheme: #929292;

  --borderImages-darkTheme: 0.2vw dashed white;

  --backgroundInput-color: var(--backgroundInput-color-darkTheme);

  --text-color: var(--text-color-darkTheme);
  --text-color-hover: var(--text-color-hover-darkTheme);

  --borderImages: var(--borderImages-darkTheme);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: calc(2px + 10 * (100vw / 1920));
}
::-webkit-scrollbar-track {
  background: var(--interface-color);
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.835);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 100px auto 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

input {
  outline: 0 !important;
}

input::-webkit-file-upload-button {
  display: none;
  z-index: 10 !important;
  cursor: pointer;
}
