.correspondence-container {
  opacity: 1;
  position: relative;
  width: 63.5%;
  height: var(--height1);

  color: var(--text-color);

  background-color: var(--back-chat1);

  .correspondence-header {
    justify-content: space-between;

    .correspondence-header__full-name {
      margin-left: 1.5vw;

      font: normal 400 calc(-6px + 30 * (100vh / 1080)) 'Iceberg';
      color: var(--text-color);

      // @media (height > 718px) and (height < 1370px) {
      //   @media (width > 475px) and (width < 1300px) {
      //     font: normal 400 calc(4px + 20 * (100vh / 1080)) 'Iceberg';
      //   }
      // }

      &:hover {
        color: var(--interface-color-hover);
      }
    }

    .correspondence-header__avatar {
      margin-top: calc(2px + 2 * (100vh / 1080));
      margin-right: 1.5vw;

      width: calc(2px + 32 * (100vh / 1080));
      height: calc(2px + 32 * (100vh / 1080));

      border-radius: 100%;

      &:hover {
        border: var(--borderImages);
      }
    }
  }

  .correspondence {
    width: 100%;
    height: 78vh;

    overflow-y: auto;

    background-color: var(--interface-color);
    box-shadow: var(--box-shadow);
  }

  .correspondence__add-20 {
    height: calc(15px + 20 * (100vh / 1080));

    text-align: center;
    font: normal 400 calc(10px + 20 * (100vh / 1080)) 'Iceberg';

    color: var(--text-color);
    background-color: var(--interface-color-hover);

    cursor: pointer;

    @media (width < 460px) {
      height: calc(10px + 20 * (100vh / 1080));
      font: normal 400 calc(12px + 10 * (100vh / 1080)) 'Iceberg';
    }

    &:hover {
      color: var(--text-color-hover);
    }
  }

  .correspondence-empty,
  .correspondence-select-chat {
    position: relative;
    margin: 0 auto;

    width: calc(120px + 140 * (100vw / 1920));

    top: 50%;

    text-align: center;
    font: normal 400 calc(20px + 20 * (100vw / 1920)) 'Iceberg';

    color: var(--text-color);

    @media (width < 460px) {
      font-size: calc(10px + 10 * (100vw / 1920));
    }
  }

  .correspondence-message {
    position: relative;

    margin: 1vh 0;

    width: 100%;

    .correspondence-message__avatar {
      width: calc(16px + 45 * (100vw / 1920));
      height: calc(16px + 45 * (100vw / 1920));

      margin-left: 1vw;

      border-radius: 100%;
    }

    .correspondence-message__full-name-date {
      position: absolute;

      top: calc(1px + 5 * (100vh / 1080));
      left: calc(18px + 70 * (100vw / 1920));

      @media (height > 718px) and (height < 1370px) {
        @media (width > 475px) and (width < 1300px) {
          top: 0.3vh;
        }
      }

      .correspondence-message__full-name-date__full-name {
        font: normal 400 calc(4px + 22 * (100vw / 1920)) 'Iceberg';
        color: var(--text-color);
      }

      .correspondence-message__full-name-date__date {
        font: normal 400 calc(4px + 12 * (100vw / 1920)) 'Iceberg';
        color: var(--text-color);
      }
    }

    .correspondence-message__message {
      margin: 0 1vw;

      word-wrap: break-word;

      font: normal 400 calc(4px + 24 * (100vw / 1920)) 'Iceberg';
      color: var(--text-color);
    }
  }

  .correspondence-sending-message {
    position: relative;
    margin-bottom: 2vh;

    padding-left: 2vw;
    padding-right: 2vw;

    width: 100%;
    height: calc(10px + 42 * (100vh / 1080));

    border-bottom-left-radius: var(--borderRadius-interface);
    border-bottom-right-radius: var(--borderRadius-interface);

    background-color: var(--miniInterface-color);
    box-shadow: var(--box-shadow);

    .correspondence-sending-message__input {
      position: relative;
      width: 75%;

      margin-top: 1vh;
      padding: 0 1vw;

      vertical-align: middle;

      height: calc(4px + 25 * (100vh / 1080));

      border: 0;
      border-radius: var(--borderRadius-interface);
      box-shadow: var(--box-shadow);

      font: normal 400 calc(4px + 10 * (100vw / 1920)) 'Iceberg';

      background-color: var(--backgroundInput-color);
      color: var(--text-color);
    }

    .correspondence-sending-message__button,
    .correspondence-sending-message__wait {
      position: absolute;

      margin-top: calc(2.5px + 9 * (100vh / 1080));

      width: 20%;
      height: calc(4px + 25 * (100vh / 1080));

      right: 2vw;

      border: 0.1vh solid #fdfffd;
      border-radius: var(--borderRadius-interface);

      font: normal 400 calc(-1px + 15 * (100vh / 1080)) 'Iceberg';

      background-color: var(--backgroundInput-color);
      color: var(--text-color);

      cursor: pointer;

      &:hover {
        @media (width > 460px) {
          background-color: var(--interface-color-hover);
          color: var(--text-color-hover);
        }
      }
    }

  }
  .correspondence-sending-message__wait {
    border: 0.1vh solid #f80101 !important;
  }
}
