html,
body {
  height: 100%;
  width: 100%;
  min-height: calc(100vh - 70px);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  scrollbar-width: thin;

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 100px auto 0 auto;

}

.active {
  color: rgb(0, 0, 0);
}

.inactive {
  color: rgb(255, 255, 255);
}

/* container */
.container {
  max-width: 1400px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.left_container {
  position: absolute;
  height: auto;
  top: 0px;
}
