html,
body {
  height: 100%;
  width: 100%;
  min-height: calc(100vh - 70px);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  scrollbar-width: thin;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 100px auto 0 auto;
}



