.post__container {
  position: relative;

  margin: 2vh 0;
  padding: 1vh 1vw;

  width: 100%;

  border-radius: var(var(--interface-border-radius));
  box-shadow: var(--box-shadow);

  background-color: var(--interface-backgroundcolor);
  color: var(--text-color);

  @media (width < 460px) {
    margin: 1vh 0;
  }
}

.post_img-container {
  position: relative;
  border: 0 !important;

  &:hover {
    border: rgba(0, 0, 0, 0) !important;
  }
}

.post-images-delete {
  position: absolute;

  width: calc(12px + 28 * (100vw / 1920));

  top: calc(0px + 10 * (100vh / 1080));
  right: calc(2px + 8 * (100vw / 1920));

  filter: drop-shadow(0px 0px 0.2vh rgb(0, 0, 0));

  cursor: pointer;
  z-index: 999;

  &:hover {
    color: var(--text-color-hover);
  }
}
