@media (width > 460px) and (height > 420px) {
  .post__container {
    position: relative;

    margin: 2vh 0;
    padding-bottom: .5vh;

    width: 100%;

    border-radius: var(--borderRadius-interface);
    box-shadow: var(--box-shadow);

    background-color: var(--interface-color);
    color: var(--text-color);
  }
}
