.svg__colors-stroke {
  stroke: var(--text-color) ;

  &:hover {
    stroke: var(--text-color-hover) ;
  }
}

.svg__chats {
  width: 110%;
}

.svg__colors-fill {
  fill: var(--text-color);
  &:hover {
    fill: var(--text-color-hover) ;
  }
}
