.profile_friends {
  position: relative;
  width: 380px;
  height: 100%;
  background: #393939;
  border-radius: 25px;
  top: 570px;
}

.profile_friends_title {
  position: relative;
  height: 30px;
  left: 24px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}

.profile_friends_title:hover {
  color: black;
}

.profile_friends_container {
  width: 360px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.profile_friend {
  cursor: pointer;
  margin: 10px;
  width: 70px;
  height: 80px;
  text-align: center;
}

.profile_friend:hover .profile_friend_avatar {
  border: 2px solid white;
}

.profile_friend:hover .profile_friend_name {
  color: rgb(174, 173, 173);
}

.profile_friend_avatar {
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.profile_friend_name {
  color: #ffffff;
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
