.profile_friends {
  position: absolute;
  width: 380px;
  height: 249px;
  background: #393939;
  border-radius: 25px;
  top: 570px;
}

.profile_friends_title {
  position: absolute;
  width: 99px;
  height: 30px;
  left: 24px;
  top: 4px;

  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}

.profile_friends_container {
  width: 340px;
  height: 190px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 45px auto 0 auto;
}

.profile_friend {
  cursor: pointer;
  margin: 10px 10px 0 10px;
  text-align: center;
}

.profile_friend_avatar {
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.profile_friend_name {
  color: #ffffff;
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
